.about-sections{
    margin-bottom: 128px;
 }
 .about-description{
    padding-top: 48px;
    margin-bottom: 104px;

 }
 .about-content{
     margin-bottom: 128px;
 }
 // --------- Our Legacy css start here ----------
 .our-legacy{
     .section-title-wrapper{
         padding-bottom:24px;
     }
     .section-title{
         &::after{
             display:none;
         }
     }
     .slider-wrapper{
        background-color: theme-color("bg-color");
        padding:28px 0px 40px;
        .slider-container{
             margin-top: 52px;
         }
        .slider-border{
            border: 1px dashed #bcbdbd;
        }
        .slick-dots{
            display: flex !important;
            justify-content: space-between;
            bottom: auto;
            top: -54px;
            li{
                padding: 0px; 
                top:-21px;
                font-family: Graphik;
                div{
                    div{
                        &::before{
                            content:"1";
                            display: inline-block;
                            font-size: 0;
                            width: 12px;
                            height: 12px;
                            margin-left: 8px;
                            background: #fff;
                            border-radius: 50%;
                            border: 1px solid #bcbdbd;
                        }
                    }
                }
            }
            .slick-active{
                color:theme-color('primary');
                top: -23px;
                font-weight: 500;
                div{
                    div{
                        &::before{
                            margin-left: 0;
                            width:30px;
                            height:30px;
                            background:theme-color('primary');
                            border:9px solid #fff;
                            box-shadow: 0px 0px 0px 0.5px theme-color('primary');
                        }
                    }
                }
            }
        }
         .legacy-slide{
             height:75vh;
             position: relative;
             .legacy-slider-image{
                 width:100%;
                 height:100%;
                 object-fit: cover;
             }
             .slide-caption{
                 position: absolute;
                 bottom: 60px;
                 left:0;
                 background:rgba(00,00,00,0.7);
                 padding:30px;
             }
         }
     }
 }

 // ------------- our vertical css start here ----------------
 .our-vertivcal-sect{
     .section-title{
        margin-bottom:48px;
         &::after{
             margin:0 auto;
         }
     }  
 }
 .vertical-card{
     background-color: theme-color("bg-color");
     overflow: hidden;
     .vertical-img-wrapper{
         max-height: 150px;
         flex-basis: 50%;
         img{
             height: 100%;
         }
     }
     .vertical-card-body{
       padding:24px;
       flex-basis: 50%;
       .vertical-card-link{
           padding-left:28px;
       }
     }
 }
 .management-team-sect{
     .section-title{
         margin-bottom:48px;
         &::after{
             margin:0 auto;
         }
     }  
 }
 .management-card{
     background-color: theme-color("bg-color");
     overflow: hidden;
     .management-img-wrapper{
         flex-basis: 50%;
         img{
             height: 100%;
         }
     }
     .management-card-body{
       flex-basis: 50%;
       padding: 40px 98px;
     }
 }
 
 
 // .about-years-img {
 //     width: 190px;
 //     height: 244px;
 // }
 
 .vision-mission-des {
     line-height: 24px;
     font-size: 14px;
 }

 .col-md-4.col-sm-12.about-years {
     .about-years-img  {
         div:first-child {
             padding-bottom: 68.5495% !important;
         }
     }
 }


/*============ Media Query stast here ===========*/
@media(max-width:992px){
    /*our legacy css start*/
    .our-legacy{
        .slider-wrapper{
            .slick-dots{
                li{
                    margin: 0 24px;
                }
            }
        }
    }
}
 @media (max-width:768px) {
    .about-years-img {
        width: 70%;
    }
    .about-years {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    /*our legacy css start*/
    .our-legacy{
        .slider-wrapper{
            .slick-dots{
                li{
                    margin: 0 12px;
                }
            } 
            .legacy-slide{
                height:65vh;
            }
        }
    }
 }
 @media (max-width:580px) {
     .about-description ,
     .about-heading {
         background: #f7f7f7;
     }

     .slider-wrapper {
         .container {
             width:90%;
         }
     }
    .vertical-card {
        .vertical-card-body {
            .vertical-card-link {
                padding-left: 8px;
                padding-right: 8px;
            }
        }
    }
    .about-description {
        margin-bottom: 48px;
    }
    .about-sections {
        margin-bottom: 48px;
    }
    .about-content {
        margin-bottom: 48px;
    }
    .management-card-body{
        .link-text{
            font-size: 16px;
        }
    }
    /*========= our legacy css start =========*/
    .our-legacy{
      .slider-wrapper{
        .slider-container{
            margin-top: 60px;
        }
        .slider-border{
            border: 1px solid #bcbdbd;
        }
        .legacy-slide{
            height:45vh;
          .slide-caption{
              bottom:0;
              left:0;
              right:0;
              padding:8px 16px;
              p{
                  margin: 0;
              }
          }
        }
            .slick-dots{
                justify-content: space-around;
                li{
                    margin:0 5px;
                    top:-14px;
                    div{
                        div{        
                            &::before{
                                margin-left:0;
                                margin-bottom: 4px;
                            }
                            display:flex;
                            flex-direction: row;
                            writing-mode: vertical-rl;
                            align-items: center;
                        }
                    }
                }
                .slick-active{
                    top:-22px;
                }
            } 
        }
    }
    .about-para {
        padding-bottom: 48px;
    }
    .our-vertivcal-sect .section-title {
        margin-bottom: 36px;
    }
 }
 @media (max-width:420px){
    
    /*=========== our legacy css start ============*/
    .our-legacy .slider-wrapper .slick-dots li {
        top: -12px;
        margin: 0;
    }
    .our-legacy .slider-wrapper .slick-dots li div div::before {
        margin-left: 0;
        margin-bottom: 4px;
        width:10px;
        height:10px;
    }
    .our-legacy .slider-wrapper .slick-dots .slick-active {
        top: -18px;
    }
    .our-legacy .slider-wrapper .slick-dots .slick-active div div::before{
        width:20px;
        height:20px;
        border:6px solid #fff;
    }
    
 }
//  @media (max-width:330px){
//     .our-legacy .slider-wrapper .slick-dots{
//         display: block !important;
//         li{
//             top: -12px;
//             margin: 0 4px;
//         }
//     }
//  }
