.mb-120{
    margin-bottom: 120px;
}
.award-wrapper{
    .inner-section-title{
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #988a63;
        text-transform: inherit;
      
    }
    .award-by{
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: -0.31px;
        text-align: center;
        color: #000000;
        opacity: 0.5;
    }
    .award-name{
        margin-top:100px;
    }
    .award-bg{
        background: url('../../images/award-1.png') no-repeat center;
        background-size: contain; 
        width: 100%;
        padding: 60px 84px;
      }
      .company-name{
          margin-top: 20px;
      }
}

@media (max-width:1200px){
    .award-wrapper{
        .company-name{
            margin-top: 0;
        }
    }
}
@media (max-width:992px){
    .award-wrapper{
        // .award-bg{
        //     // padding: 90px 80px;
        // }
        .company-name{
            margin-top: 20px;
        }
    }
    .mb-120{
        margin-bottom: 40px;
    }
}


@media (max-width:768px){
    .award-wrapper{
        // .award-bg{
        //     // padding: 48px 90px;
        // }
    .container{
        max-width: 720px;
    }
    .company-name{
        margin-top: 8px;
    }
 }
  
}
@media (max-width:580px){
   
    .award-wrapper{
        .award-name{
            margin-top: 40px;
        }
        .award-bg{
           padding:108px 134px;
        }
        .mb-120{
            margin-bottom: 40px;
        }
        .company-name{
            margin-top: 20px;
        }
    }  
  
}
@media (max-width:420px){
    .award-wrapper{
        .award-bg{
            padding: 100px 80px;
        }

    }
}
@media (max-width:370px){
    .award-wrapper{
        .award-bg{
            padding: 58px 80px;
        }
        .company-name{
            margin-top: 8px;
        }
        .mb-120{
            margin-bottom: 24px;
        }
    }
}