.my-120{
    margin: 120px 0;
}
.award-wrapper{
    .inner-section-title{
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #988a63;
        text-transform: inherit;
      
    }
    .award-by{
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: -0.31px;
        text-align: center;
        color: #000000;
        opacity: 0.5;
    }
    .award-name{
        margin-top:100px;
    }
    .award-bg{
        position: relative;
        height:100%;
        // background: url('../../images/award-1.png') no-repeat center;
     
        &::after{
            content: "";
            background: url('../../images/award-1.png') no-repeat center center;
            background-size: contain;
            width: 100%;
            position: absolute;
            padding-bottom: 66%;
            top: -100px;
            left: 0;
            // height: 100%;
        }
        .award-details{
           
            height:100%;
            padding:0 88px;
            width: 100%;
        }
      }
      .company-name{
          margin-top: 8px;
      }
}

@media (max-width:1200px){
    .award-wrapper{
        .award-bg {
            &::after{
                top: -38px;
            }
            .award-details{
                padding: 0 70px;
            }
        }
    }
}
@media (max-width:992px){
    .award-wrapper{
        .award-bg {
            &::after{
                top: -75px;
            }
        }
    }
}
@media (max-width:768px){
    .award-wrapper{
        .container{
            max-width: 750px;
        }
    }
}