.mr-32{
  margin-right: 32px;
}
.ml-32{
  margin-left: 32px;
}
.events{
    .event-heading{
        .title{
            h2{
              @include border-left;
              font-weight: 400;
            }
        }
    }
    .section-title{
      &::after{
        margin: 0 auto;
      }
    }
    .event-slider{
      .padding-block-60{
        padding-bottom: 8px;
      }
      .slider-wrapper{
        background-color: theme-color("bg-color");
        padding:12px 0 36px 0;
      }
      .slick-slide{
        padding-top:12px;
      }
      .slick-arrow{
        top:auto;
        bottom:-36px;
        left:auto;
        right:60px;
      }
    }
    .center{
      .slick-prev {
        left: auto;
        z-index: 1;
        right: 277px;
        bottom: -67px;
        background: #333;
        padding: 5px 50px 30px 17px;
        &:before{
            content: "";
            background: url('../../images/left.png') no-repeat center center;
            padding: 12px 0px 16px 38px;
        }
      }
    } 
    .center{
      .slick-next {
        transform: rotate(180deg);
        right: 200px;
        bottom: -50px;
        background: #333;
        padding: 5px 50px 30px 15px;
        &:before{
          content: "";
          background: url('../../images/left.png') no-repeat center center;
          padding: 12px 0px 16px 38px;
        }
      }
    } 
  }
  @media(max-width:580px){
    .events .event-slider .slider-wrapper {
        background-color: transparent;
        padding: 0px 0 40px;
    }
  }