.mr-32{
  margin-right: 32px;
}
.ml-32{
  margin-left: 32px;
}
.events{  
  .page-heading-section{
    margin-bottom: 76px;
  }
   .event-heading{
        .title{
            h2{
              @include border-left;
              font-weight: 400;
            }
        }
    }
    .section-title{
      &::after{
        margin: 0 auto;
      }
    }
    .event-slider{
      // margin: 60px 0 60px;
      margin-bottom: 108px;
      .padding-block-60{
        padding: 0 0 6px 0;
      }
      .slider-wrapper{
        background-color: theme-color("bg-color");
        padding:12px 0 24px 0;
        .location{
          padding: 0 0 6px 0;
        }
      }
      // .slick-slide{
      //   padding-top:12px;
      // }
      .slick-arrow{
        padding: 20px 36px;
        top:auto;
        &:hover,
        &:focus{
          background: #000;
        }
        
      }
      &:last-child{
        margin-bottom: 124px;
      }
    }
    
      .slick-prev {
        left: auto;
        z-index: 1;
        right: 277px;
        bottom: -77px;
        background: #333;
        // padding: 5px 50px 30px 17px;
        &:before{
            content: "←";
            font-family: "Font Awesome 5 Free";
            // background: url('../../images/left.png') no-repeat center center;
            // padding: 12px 0px 16px 38px;
            font-size: 40px;
            position: absolute;
            top: -8px;
            left: 15px;
        }
      }
    
    
      .slick-next {
        transform: rotate(180deg);
        right: 183px;
        bottom: -57px;
        background: #333;
        // padding: 5px 50px 30px 15px;
        &:before{
          content: "←";
          font-family: "Font Awesome 5 Free";
          // background: url('../../images/left.png') no-repeat center center;
          // padding: 12px 0px 16px 38px;
          position: absolute;
          top: -8px;
          left: 15px;
          font-size: 40px;
        }
      }
    } 

//================Media query============//
  //  @media (max-width:1200px){
  //   .events{
  //     .slider-img{
  //       margin: 28px 36px;
  //    }
  //   }
  // }
  @media (max-width:992px) {
    .events{
      .event-slider .slider-wrapper{
        padding:18px 0 36px 0
      }
      .slick-prev{
        right:180px
      }
      .slick-next{
        right:90px
      }
      .pages{
        margin-top:20px;
        margin-left: 98px;
        text-align: left !important;
      }
      .mr-32{
        margin-right:12px;
      }
      .ml-32{
        margin-left: 12px;
      }
    }

  } 
  @media (max-width:767px){
    .events{
      .location{
        padding: 0 16px 16px 16px;
      }
    }
  }
  @media(max-width:580px){

    .events .event-slider{
      margin-bottom: 80px;
      .slider-wrapper {
        // background-color: transparent;
        padding: 20px 0 20px;
        .pages{
          margin-left: 36px;
          text-align: left !important;
        }
        .slick-next{
          // bottom: -41px;
          right: 31px;
          top: auto;
          z-index: 1;
         
        //   padding: 0;
        //   background: transparent;
        //   &:before{
        //       content: "";
        //       background: url('../../images/right.jpg') no-repeat center center;
        //       padding: 0 0 0 36px;
        //     }
        }
        .slick-prev{
          // top: auto;
          // bottom: -50px;
          right: 120px;
          // left: auto;
          z-index: 1;
          // padding: 0;
          // background: transparent;
          //   &:before{
          //     content: "";
          //     background: url('../../images/left.jpg') no-repeat center center;
          //     padding: 0 0 0 36px;
          //   }
        }
        
      }
    //   .padding-block-60 {
    //     padding: 52px 0 10px;
    // } 
    .section-title{
      padding: 0 10px;
    }
  }
}
@media (max-width:420px){
  .events{
     .event-slider{
      .slick-arrow{
        padding: 5px 30px 22px 17px;
      }
      .slider-wrapper{
        .pages{
          margin-top: 12px;
        }
        .slick-next{
          right: 39px;
          top: auto;
          bottom: -39px;
          &::before{
            top: -15px;
            left: 6px;
          }
        }
        .slick-prev{
          right: 97px;
          top: auto;
          bottom: -53px;
           &::before{
            top: -15px;
            left: 5px;
          }
        }
      }
     }  
  } 
}