.our-verticals-tabs{
    background-color: #fff;
    font-weight: 500;
    .nav-item{
        flex-basis: 22%;
    }
    li{
        border-bottom: 4px solid transparent;
        cursor: pointer;
        &:hover{
            border-bottom: 4px solid theme-color("primary");
            .tab{
                color: theme-color("primary");
            }            
        }
    }
    .tab{
        color: theme-color("text-tertiary");
        span{
            padding-left:12px;
        }
    }
    .active{
        .tab{
            color: theme-color("primary");
        }
        border-bottom: 4px solid theme-color("primary");
    }
}
.home-slider{
    .slick-arrow{
        display: none !important;
    }
}