
.management-wrapper{
  .title-heading{
    margin-bottom: 34px;
  }
  .management-heading {
    margin-top: 100px;
  }
  .line {
    width: 200px;
  }
  .member {
    margin-bottom: 50px;
  }
  .set-position {
    transform: translate(-180px, -130px);
  }
  .section-title::after {
    margin: 0 auto;
  }
}

.gray-background {
  width: 800px;
  height: 200px;
  background: #fafafa;
  transform: translate(-11px, 10px);
  margin-top: 50px;
}
.line::before {
  content: "";
  border-bottom: 2px solid #a53130;
  padding: 6px 0;
  width: 22%;
  display: block;
  position: absolute;
  top: 85px;
}
.rectangle {
  display: flex;
  justify-content: space-evenly;
  transform: translate(129px, -140px);
}
.founder h3 {
  font-size: 36px;
  font-weight: normal;
}
.founder h3 ::after {
  content: "";
  width: 180px;
  height: 2px;
  border: solid 2px #a53130;
}
.managment-Team-heading h2 {
  font-size: 42px;
  color: #394247;
  margin-bottom: 107px;
}
.info-content .heading {
  color: #394247;
  margin-bottom: 0;
  font-size: 20px;
}
.info-content {
  text-align: center;
  margin-top: 38px;
}
.subheading {
  letter-spacing: 0.5px;
  font-size: 14px;
}

.info-box {
  box-shadow: 6px 6px 15px 0 rgba(221, 221, 221, 0.25),
    -6px -6px 15px 0 rgba(221, 221, 221, 0.27);
  padding: 50px 30px;
  transform: translate(49px, -155px);
  background: #fff;
}
.title-heading h4 {
  font-size: 28px;
  font-weight: 400;
}
.founder-image {
  width: 200px;
  margin: 0 auto;
}
.mt-140 {
  margin-top: 140px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mt-170 {
  margin-bottom: 170px;
}
hr.bottom {
  width: 78px;
  border: solid 1px #a53130;
  background: #a53130;
  height: 1px;
  margin-top: 26px;
}

.mt-0 {
  margin-top: 0;
}
@media screen and (max-width: 1200px) {
  /*Management Team*/
  .gray-background {
    width: 93%;
  }
  .line::before {
    content: "";
    border-bottom: 2px solid #a53130;
    padding: 6px 0;
    width: 16%;
    display: block;
    position: absolute;
    top: 85px;
  }

  .line {
    width: 170px;
  }
  .mt-170 {
    margin-bottom: 120px;
  }
}

@media screen and (max-width: 992px) {
  /*Management Team*/
  .gray-background {
    width: 100%;
    transform: none;
    margin-bottom: 50px;
    height: 150px;
  }
  .management-wrapper{
    .set-position {
      transform: none;
    }
    .line::before {
      content: "";
      width: 20%;
      top: 60px;
    }
  }

  
  .mt-170 {
    margin-bottom: 70px;
  }
  .mt-140 {
    margin-top: 70px;
  }
}

@media screen and (max-width: 769px) {
  .management-wrapper{
    .line {
      width: 150px;
    }
  }
  }

@media screen and (max-width: 600px) {
  .management-wrapper{
    .line::before {
      content: "";
      width: 25%;
      top: 60px;
    }
    .line {
      width: 100px;
    }
    .founder-image {
      max-width: 80%;
    }
  }
  .info-content{
    margin-top: 16px;
  }
}
