.logo-card{
    width:320px;
    box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.18);
    background-color: #ffffff;
    padding:8px 0;
    margin-top: -32px;
    position: relative;
    z-index: 99;
    img{
        width: 35%;
    }
  }
  .slider-wrapper-gray{
      background: theme-color(bg-color);
    //   .showcase-slider{
    //       max-height:75vh;
    //       overflow: hidden;
    //   }
  }

  
  #pills-tab{
      border-bottom:1px solid theme-color(border-color);
    .tab-icon{
      font-size:32px;
      margin-bottom:8px;
    }
  }
  #pills-tabContent{
      border-bottom:1px solid theme-color(border-color);
      ul{
        padding:44px 0 64px;
        margin-bottom: 0;
        li{
            font-size: 20px;
            line-height: 30px;
        }
      }
  }
  .proximities-section{
    .section-title-wrapper{
        p{
            margin:0 32px 52px;
        }
    }
      .nav-pills{
          .nav-link{
            font-size: 13px;
            i{
                font-size: 32px;
            }
            span{
              margin-top: 14px;
              line-height: 1; 
            }
          }
      }
  }
  .nav-pills .nav-link{
      color:theme-color(text-tertiary);
  }
  .nav-pills .nav-link.active{
    //   border:1px solid theme-color(border-color);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.09);
      border-bottom:7px solid theme-color(tertiary);
      border-radius: 5px 5px 0 0;
      background-color: transparent;
      color:theme-color(heading-primary);
  }
  #factfile-tab .nav-link{
      border-bottom:3px solid #eeeeee;
      background-color: theme-color(bg-color);
      border-radius: 0;
  }
  #factfile-tab .nav-link.active{
      border:0;
      border-bottom:3px solid theme-color(tertiary);
      border-radius: 0;
      background-color: transparent;
      color:theme-color(tertiary);
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
  }
  .amenities{
    //   button{
    //       flex: 1 200px;
    //       margin: 12px 0;
    //       border: 0;
    //       background: transparent;
    //       color:theme-color(text-tertiary);
    //       outline: 0;
    //       i{
    //         font-size: 32px;
    //         padding: 5px 24px 5px 0;
    //          color:theme-color(text-tertiary);
    //       }
    //       &:hover{
    //           color:theme-color(primary);
    //           i{
    //               color:theme-color(primary);
    //           }
    //       }
    button{
        flex:1 44%;
        border:0;
        margin:12px 24px 12px 0;
        background:transparent;
        color: theme-color(text-tertiary);
        outline:0;
        padding:0;

        .icon-wrap{
          flex-basis:24%;
          font-size: 28px;
        }
        .icon-description{
            flex-basis:75%;
        }
        &:last-child{
            max-width: 50%;
        }
    }
      .active {
        color:theme-color(primary);
        i{
            color:theme-color(primary);
        }
     }

  }
 
  .detail-page{
    .proximities-section{
        margin-top: 128px;
        .section-title-wrapper{
            .section-title{
                margin-bottom: 12px;
            }
        }
    }
    .floor-plan{
        margin:128px 0 148px;
        .slider-wrapper-gray{
            padding: 48px 0 60px 0;
        }
        .showcase-slider{
            .slick-prev:before{
                color:#b2b2b2;
            }
            .slick-next:before{
                color:#b2b2b2;
            }
        }
        .slider-img {
            margin:40px 44px;
            border: solid 1px #9999;
        }
        label.wrap {
            overflow: hidden;
            position: relative;
            display: block;
            margin-bottom:12px;
        }
        select.layout-select{
            padding: 10px;
            border: 0;
            width: 110px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            opacity: 0.7;
            font-family: Graphik;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: -0.27px;
            color: #333333;
        }
        label.wrap:after {
            content:"\f078 ";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            color: #b2b2b2;
            position: absolute;
            right: 0;
            top: 50%;
            z-index: 1;
            width: 10%;
            pointer-events: none;
            transform: translate(-10px, -50%);
        }
    }
    .enquiry-form{
        p{
            padding-top: 44px;
        }
    }
    .site-progress-wrap{
        margin-top: 140px;
    }
  }
  .amenity-sections{
      .tab-title{
        font-family: Georgia;
        font-size: 22px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #988a63;
        padding:16px 0;
      }
  }
  .amenities-inner-wrapper{
      margin-top:40px;
      .icon-wrapper{
        flex: 50%;
      }
      .image-wrapper{
          flex: 50%;
          position: relative;
          overflow: hidden;
          object-fit: contain;
          img{
            position: absolute;
            top: 0px;
            left: 0px;
            object-fit: cover;
            object-position: center center;
          }
      }
  }

//   ------------ facility tab hide on f residency -----------
#f-residences-phase-2-residential{
    .nav-pills{
        .col-6{
            flex: 0 0 100%;
            max-width: 100%;
        }
        .nav-item:nth-child(2){
            display:none;
        }
        .nav-item:nth-child(1){
            .nav-link{
                border: 0;
                box-shadow: none;
                background-color: transparent;
                .avtive{
                    box-shadow: none;
                }
            }
        }
    }
}
// ------------- Slider css start here -------------
.slider-wrapper{
    .slider-img{
        outline: 0;
        position: relative;
        .showcase-slide-caption{
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 0;
            background: rgba(00,00,00,0.7);
            padding: 8px 12px;
            color: #fff;
            display: none;
        }
    }
    .slick-active{
        .slider-img{
            .showcase-slide-caption{
                display: block;
                transition: 0.3s ease-in-out;
            }
        }
    }
}
.ril__captionContent{
    text-align: center;
    width:100%;
}
// ------------- Contact Start Here ----------------
  .contact-section{
      .contact-form{
          margin: 106px 0 0 0;
      }
      .contact-details{
          margin-top: 60px;
          p,address{
              opacity: 0.5;
              font-family: Graphik;
              font-size: 14px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.71;
              letter-spacing: -0.31px;
              color: #000000;
          }
          i{
              font-size: 26px;
              color:theme-color("icon-color");
          }   
      }
      form{
          .form-bg-color{
              background: #b2a585;
              padding: 16px 0;
               label{
                   margin-right: 8px;
               }
          }
          .customer{
              select{
                  flex-basis: 23.4%;
                  background: transparent;
                  color: #fff;
                  border: solid 0.5px rgba(255,255,255,0.5);
                  border-radius: 0;
                  padding: 4px;
                  font-weight: normal;
                  font-size: 14px;
                  height: 30px;
                  option{
                      color: #929292;
                  }
                      &:focus{
                      box-shadow: none;
                      outline: none;
                      border: solid 0.5px rgba(255,255,255,0.5);
                  }
              }
          }
      }
      .contact-form-bg {
          background: #fafafa;
          padding: 40px 0 40px 0;
          .container{
              max-width: 740px;
          }
          .form-row{
              select{
                  font-weight: 300;
                  font-size: 14px; 
              }
              input,textarea,select{
                  font-weight: normal;
                  padding-left: 8px;
                  padding-right: 8px;
                  font-size: 14px;
                  background: transparent;
                  border: solid 0.5px rgba(153, 153, 153, 0.5);
                  border-radius: 0;
                  color: #929292;
                      &::placeholder{
                          color: #929292;
                          font-weight: normal;
                          font-size: 14px;
                      }
              }
              input,select{
                  height: 30px;
                  line-height: 3;
              }
              .form-control:focus{
                  box-shadow: none;
                  outline: none;
                  border: solid 0.5px rgba (153, 153, 153, 0.5);
              }
              .form-group{
                  margin-bottom: 32px;
                  padding: 0 20px 0 20px;
              }
          }
          button{
              padding: 16px 60px;
              border-radius: 0;
              font-weight: normal;
              background: theme-color("tertiary");
              border-color:theme-color("tertiary") ;
              &:focus{
                  border-color:theme-color("tertiary");
                  box-shadow: none;
              }
          }
      }
      .locate-us{
          margin: 130px 0 116px 0;
      } 
      .locate-us,
      .contact-form{
          .section-title{
              margin-bottom: 26px;
              &::after{
                  display: none;
              }
          }
  
      }
  }
  .detail-maharera-sections{
      margin-top: 78px;
      margin-bottom: 110px; 
      img{
          margin-bottom: 12px;
      }
      p{
          font-size: 12px;
      }
      a{
          color: #7f7f7f;
      }
  }


.map {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: grayscale(100%);
}
.maharera_important{
    font-size: 10px;
}
@media(max-width:1200px){
    .contact-section{
        form {
            .customer{
                select{
                    flex-basis:40%;
                }
            }
        }
    }
}
@media(max-width:992px){
    //------------- Residencial detail page ---------------
    #amenities{
        .container{
            overflow-x: scroll;
            &::-webkit-scrollbar {
                height:6px;
            }
            &::-webkit-scrollbar-thumb {
                background: theme-color(border-color);
                border-radius:30px;
            }
            &::-webkit-scrollbar-thumb:hover {
                background: theme-color(text-secondary); 
            }
        }
    }
    .amenities-inner-wrapper{
        width:900px;
        margin-bottom:12px;
    }
}
@media(max-width:768px){
      //------------- Residencial detail page ---------------
      .nav-pills .nav-link, 
      .nav-pills .nav-link.active{
        padding: 10px 0;
      }
      .amenities-inner-wrapper {
          .image-wrapper{
              width: 100%;
              display: flex;
              align-items: center;
          }
      }
      .amenities button {
          flex: 1 35%;
          margin: 8px 4px;
      }
}
@media(max-width:580px){
    .detail-maharera-sections{
        margin-top: 40px;
        margin-bottom: 52px; 
  }
   /*Residencial media query start*/
   .logo-card{
        box-shadow: none;
        margin-top: 28px;
        width:280px;
        .w-50{
            width: 70%!important;
        }
    }
    .detail-page {
        .enquiry-form{
            p{
                padding-top: 0;
            }  
        } 
        .page-heading{
            line-height:24px;
        }
    }

    .detail-page-sections{
        padding-top:36px;
        padding-bottom:36px;
    }
    .residencial-details .page-heading-section div {
    padding-top: 36px;
    padding-bottom: 32px;
    .page-heading{
        border:0;    
        padding: 0;
        font-size: 20px;
        line-height: 32px;
    }
    }
    #pills-tab,
    #factfile-tab{
        padding: 0 15px;
    }
    .nav-pills .nav-link{
        i{
            font-size: 24px;
        }
    }
    #pills-tabContent,
    #pills-tab {
        border-bottom:0;    
    }   
    #pills-tabContent ul {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .proximities-section{
        .section-title-wrapper{
            margin-bottom:24px;
            p{
                margin:0;
            }
        }
        .nav-pills{
            .col-3{
                &:first-child{
                    flex: 0 0 32%;
                    max-width: 32%;
                    a{
                        height:auto;
                    }
                }
                max-width: 22%;
                width:100%;
                &:last-child{
                    flex: 0 0 24%;
                    max-width: 24%;
                }
                a{
                    height:110%;
                }
            }
        }
    }
    .amenity-sections{
        margin-top:80px;
    }
    .amenities-inner-wrapper .image-wrapper{
        display: none;
    }
    .amenities button {
        flex: 1 1 23%;
        flex-direction: column;
    }
    .amenities-inner-wrapper {
        width: 730px;
        margin-bottom: 12px;
    }
    #residential-details .site-progress-wrap{
        margin-top: 80px;
    }
    .slider-wrapper .slick-active .slider-img .showcase-slide-caption{
        font-size: 12px;
    }
    .amenities button:hover,
    .amenities .active,
    .amenities .active i {
        color: #7f7f7f;
    }
    
}
@media(max-width:420px){
    .slider-wrapper .slick-active .slider-img .showcase-slide-caption{
        font-size: 10px;
    }
}