.residential-projects{
    .projects{
        margin: 64px 0 80px 0;
      select{
          width: 271px;
          height: 40px;
          margin-right: 24px;
      }
    }
    .residences{
        padding-top: 20px;
        // .residences-card{
        //     margin: 72px  0 100px;
        // }
    }
    .listing-heading{
      width: 300px;
      height: 40px;
      background: #b1a585;
      margin-top: -40px;
        .heading{
          font-size: 18px;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: -0.54px;
          color: #ffffff;
          margin-left: 20px;
        
        }
    }
    .ongoing-project{
        .residences{
            padding: 0 0 170px;
        }
    }
    .complete-project{
        margin-bottom: 72px;
        .container{
            text-align: center;
        }
        .secondary-card{
            margin: 0 15px;
            .secondary-card-rectangle{
                text-align: left;
            }
        }
        p{
          opacity: 0.5;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.71;
          letter-spacing: -0.31px;
          color: #000000;
          margin: 32px 0 56px 0;
        }
        .listing-heading{
            margin-top: -23px;
        }
    }
    .slick-list{
        .slick-slide > div{
            padding-bottom:84px;
        }
    }
    .slick-prev {
        left: -50px;
        top: 37%;
        &:before{
            content: "\F053";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 44px;
            cursor: pointer;
            background: none;
            color:#979797;
            padding:0;
    }
  }
  .slick-next {
      transform: rotate(180deg);
      right: -50px;
      top: 41%;
      &:before{
        content: "\F053";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 44px;
        cursor: pointer;
        background:none;
        color:#979797;
        padding:0;
      }
    }
    .give-details{
        padding:  60px 0 60px;
        background-color:theme-color("bg-color");
        .section-title{
            font-size: 18px;
            &::after{
                display: none;
            }
        }
        .btn-secondary{
            width: 230px;
        }
    }
} 
@media (max-width:580px){
    .residential-section .main-paragraph{
        padding-bottom: 80px;
    }
    .residences-card{
        margin-top: 48px;
    }
    .residential-projects {
        .ongoing-project{
            .residences{
                padding: 0 0 120px;
            }
        }
    }
    .residential-projects .complete-project .slick-next{
        top: auto;
        right: 20px;
        bottom: -62px;
        &::before{
            content: "\2190";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 44px;
            color:#b3b3b3;
        }
    }
    .residential-projects .complete-project .slick-prev{
        top: auto;
        right: 100px;
        left:auto;
        bottom: -30px;
        &::before{
            content: "\2190";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 44px;
            color:#b3b3b3;
        }
    }
}
