.logo-card{
    width:320px;
    box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.18);
    background-color: #ffffff;
    padding:8px 0;
    margin-top: -32px;
    position: relative;
    z-index: 99;
    .w-50{
        width: 38%!important;
    }
  }
  .slider-wrapper-gray{
      background: theme-color(bg-color);
    //   .showcase-slider{
    //       max-height:75vh;
    //       overflow: hidden;
    //   }
  }

  
  #pills-tab{
      border-bottom:1px solid theme-color(border-color);
    .tab-icon{
      font-size:32px;
      margin-bottom:8px;
    }
  }
  #pills-tabContent{
      border-bottom:1px solid theme-color(border-color);
      ul{
        padding:44px 0;
        margin-bottom: 0;
        li{
            font-size: 20px;
            line-height: 30px;
        }
      }
  }
  .nav-pills .nav-link{
      color:theme-color(text-tertiary);
  }
  .nav-pills .nav-link.active{
    //   border:1px solid theme-color(border-color);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
      border-bottom:7px solid theme-color(tertiary);
      border-radius: 5px 5px 0 0;
      background-color: transparent;
      color:theme-color(heading-primary);
  }
  #factfile-tab .nav-link{
      border-bottom:3px solid #eeeeee;
      background-color: theme-color(bg-color);
      border-radius: 0;
  }
  #factfile-tab .nav-link.active{
      border:0;
      border-bottom:3px solid theme-color(tertiary);
      border-radius: 0;
      background-color: transparent;
      color:theme-color(tertiary);
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
  }
  .amenities{
      button{
          flex: 1 200px;
          margin: 12px 8px;
          border: 0;
          background: transparent;
          color:theme-color(text-tertiary);
          outline: 0;
          i{
            font-size: 32px;
            padding: 5px 24px 5px;
             color:theme-color(text-tertiary);
          }
          &:hover{
              color:theme-color(primary);
              i{
                  color:theme-color(primary);
              }
          }
      }
  }
  .detail-page{
    .proximities-section{
        margin-top: 126px;
        .section-title-wrapper{
            .section-title{
                margin-bottom: 12px;
            }
        }
    }
    .floor-plan{
        .section-title{
            margin-bottom: 52px;
        }
        .slider-img {
            margin:60px 50px;
            border: solid 1px #9999;
        }
    }
    .enquiry-form{
        p{
            padding-top: 44px;
        }
    }
  }

  .amenities-inner-wrapper{
      .icon-wrapper,
      .image-wrapper{
          flex: 50%;
      }
  }

//   ------------ facility tab hide on f residency -----------
#f-residences-phase-2-residential{
    .nav-pills{
        .col-6{
            flex: 0 0 100%;
            max-width: 100%;
        }
        .nav-item:nth-child(2){
            display:none;
        }
        .nav-item:nth-child(1){
            .nav-link{
                border: 0;
                box-shadow: none;
                background-color: transparent;
                .avtive{
                    box-shadow: none;
                }
            }
        }
    }
}
// ------------- Contact Start Here ----------------
  .contact-section{
      .contact-form{
          margin: 106px 0 0 0;
      }
      .contact-details{
          margin-top: 60px;
          p,address{
              opacity: 0.5;
              font-family: Graphik;
              font-size: 14px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.71;
              letter-spacing: -0.31px;
              color: #000000;
          }
          i{
              font-size: 26px;
              color:theme-color("icon-color");
          }   
      }
      form{
          .form-bg-color{
              background: #b2a585;
              padding: 16px 0;
               label{
                   margin-right: 8px;
               }
          }
          .customer{
              select{
                  flex-basis: 23%;
                  background: transparent;
                  color: #fff;
                  border: solid 0.5px #ffffff;
                  border-radius: 0;
                  padding: 4px;
                  font-weight: 300;
                  font-size: 14px;
                  height: 30px;
                  option{
                      color: #929292;
                  }
                      &:focus{
                      box-shadow: none;
                      outline: none;
                      border-color: #fff;
                  }
              }
          }
      }
      .contact-form-bg {
          background: #fafafa;
          padding: 40px 0 40px 0;
          .container{
              max-width: 740px;
          }
          .form-row{
              select{
                  font-weight: 300;
                  font-size: 14px; 
              }
              input,textarea,select{
                  font-weight: 300;
                  padding-left: 8px;
                  padding-right: 8px;
                  font-size: 14px;
                  background: transparent;
                  border: solid 0.5px #999999;
                  border-radius: 0;
                  color: #929292;
                      &::placeholder{
                          color: #929292;
                          font-weight: 300;
                          font-size: 14px;
                      }
              }
              input,select{
                  height: 30px;
              }
              .form-control:focus{
                  box-shadow: none;
                  outline: none;
                  border-color: #999999;
              }
              .form-group{
                  margin-bottom: 32px;
                  padding: 0 20px 0 20px;
              }
          }
          button{
              padding: 12px 88px;
              border-radius: 0;
              font-weight: 300;
              background: theme-color("tertiary");
              border-color:theme-color("tertiary") ;
              &:focus{
                  border-color:theme-color("tertiary");
                  box-shadow: none;
              }
          }
      }
      .locate-us{
          margin: 130px 0 116px 0;
      } 
      .locate-us,
      .contact-form{
          .section-title{
              margin-bottom: 26px;
              &::after{
                  display: none;
              }
          }
  
      }
  }
  .detail-maharera-sections{
      margin-top: 78px;
      margin-bottom: 110px; 
      a{
          color: #7f7f7f;
      }
  }


.map {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: grayscale(100%);
}
@media(max-width:580px){
    .detail-maharera-sections{
        margin-top: 40px;
        margin-bottom: 52px; 
  }
}
