.slick-next,
.slick-prev{
    top: 100px;
}
.hospitality-projects {
    margin: 0 0 80px 0;
}


@media (max-width:580px) {
    .hospitality-projects .residences-card ,
    .hospitality-projects {
        margin:0;
    }
}