$theme-colors: (
  "primary": #b82831,
  "secondary": #fbfbfb,
  "tertiary":#b1a585,
  "footer-bg": #333333,
  "bg-secondary":#f9fafa,
  "danger": #ff4136, 
  "heading-primary":#333333,
  "headig-secondary":#958c65,
  "text-primary":#343434,
  "text-secondary":#5b5b5b,
  "text-tertiary":rgba(00,00,00,0.5),
  "text-white":#ffffff,
  "text-black": #000000,
  "icon-color":#b0a683,
  "bg-color":#f9fafa
);
.mt-25{
    margin-top: 25px;
}
$font-sizes:(
  "heading-primary-size": 4rem,
  "heading-secondary-size":3rem,
  "heading-tertiary-size":2rem,
  "default": 1rem
);
@mixin border-left {
    border-left: 10px solid #b0a683;
    padding-left: 10px;
}
@mixin hover {
    color: theme-color("primary");
    text-decoration: none;
    transition: .5s ease-in-out;  
}
.sub-title{
    color: #b0a683;
    font-weight: 400;
    font-size: 24px;
}
@font-face {
    font-family: 'georgia-regular';
    src: url(../fonts/georgia.ttf) format('truetype');
}
@font-face {
    font-family: 'georgia-bold';
    src: url(../fonts/georgiab.ttf) format('truetype');
}
@font-face {
    font-family: 'georgia-italic';
    src: url(../fonts/georgiai.ttf) format('truetype');
}
@font-face {
    font-family: 'Graphik';
    font-weight: 100;
    src: url(../fonts/Graphik-Thin.otf) format('Opentype');
}
@font-face {
    font-family: 'Graphik';
    font-weight: 200;
    src: url(../fonts/Graphik-Extralight.otf) format('Opentype');
}
@font-face {
    font-family: 'Graphik';
    font-weight: 300;
    src: url(../fonts/Graphik-Light.otf) format('Opentype');
}
@font-face {
    font-family: 'Graphik';
    font-weight: 400;
    src: url(../fonts/Graphik-Regular.otf) format('Opentype');
}
@font-face {
    font-family: 'Graphik';
    font-weight: 500;
    src: url(../fonts/Graphik-Medium.otf) format('Opentype');
}
@font-face {
    font-family: 'Graphik';
    font-weight: 600;
    src: url(../fonts/Graphik-Semibold.otf) format('Opentype');
}
@font-face {
    font-family: 'Graphik';
    font-weight: 700;
    src: url(../fonts/Graphik-Bold.otf) format('Opentype');
}
@import "../../../node_modules/bootstrap/scss/bootstrap";

body{
    font-family: 'Graphik', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: -0.31px;
    color: theme-color("text-tertiary");
}
/*================================
-------- Common Basic css start
================================*/ 
.padding-block-60{
    padding: 60px 0;
}
.page-heading{
    border-left: 10px solid theme-color("tertiary");
    font-family: 'Graphik', sans-serif;
    font-weight: 400;
    padding:0px 8px;
    height: 40px;
    opacity: 0.8;
    font-size:30px;
    color: theme-color("text-black");
    align-items: center;
    display: flex;
    margin: 0;
}
.section-title{
    font-family: georgia;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.44px;
    color: theme-color("tertiary");
    text-align:left;
    &::after{
        content: "";
        border-bottom: 2px solid theme-color("primary");
        padding: 10px 0;
        width: 85px;
        display: block;
    }
}
.section-title-wrapper{
    padding-bottom:48px;
}
.inner-section-title{
    font-family: georgia;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.44px;
    color: theme-color("heading-primary");
    text-align:left;
    text-transform: capitalize;
}
.section-title-secondary{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: -0.31px;
  color: theme-color("text-black");
}
.black-text{
    color:theme-color("text-black");
}
.text-white{
    color:theme-color("text-white");
}
.link-text{
    font-family: 'Poppins', sans-serif;
  font-size: 14px;
  letter-spacing: -0.23px;
  color: theme-color("tertiary");
  cursor: pointer;
  &:hover{
      text-decoration: none;
  }
}
.hr-primary{
    width:85px;
    height:3px;
    background: theme-color("primary");
}
.btn-primary{
    padding:17px 22px;
    border:1px solid theme-color("secondary");
    color: theme-color("secondary");
    width:169px;
}
.btn-secondary{
    padding: 16px;
    background:theme-color("tertiary");
    color:theme-color("text-white");
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    letter-spacing: -0.4px;
    text-align: center;
    width: 320px;
}
.responsive-img{
    height: 100%;}
.btn-tertiary{
    padding: 16px;
    color:theme-color("text-tertiary");
    border:1px solid theme-color("text-tertiary");
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: -0.4px;
    text-align: center;
    background:transparent;
}
.bg-white{
    background-color: theme-color("text-white");
}
img{
    object-fit: cover;
}

.list-style-none{
    list-style: none;
}
//Page heading
.page-heading-section{
    .main-description{
        padding: 0 16px 32px;
    }
}

// ------------------ Header Css Start ----------------
.header{
    box-shadow: 1px 0px 6px rgba(00,00,00,0.2);
}
.logo-img{
    width:60%;
}
.banner-section{
  width:100%;
  height: 81vh;
    .banner-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.navbar-collapse{
  position: absolute;
  background: theme-color("secondary");
  top: 56px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.navbar-nav{ 
  .nav-item{
      padding: 10px 0;
      font-family: 'georgia-bold' , sans-serif;
      font-size: font-size("default");
  }
}
.navbar-light .navbar-nav .nav-link{
    color: theme-color("text-primary");
    padding:0.4rem 1rem 0.4rem 1.4rem;
    border-left:0.5rem solid theme-color("secondary");
}
.navbar-nav .nav-link:hover{
        border-left:0.5rem solid theme-color("primary");
}
.navbar-nav{
    .active{
        a{
            border-left:0.5rem solid theme-color("primary") !important  ;
        }
    }
}
// -------- Home page bottom tabs Css start Here ----------

.our-verticals-tabs{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    .nav-item{
        padding:15px 10px;
        flex-basis: 24%;
    }
    li{
        border-bottom: 4px solid transparent;
        cursor: pointer;
        &:hover{
            border-bottom: 4px solid theme-color("primary");
            .tab{
                color: theme-color("primary");
            }
        }
    }
    .tab{
        color: theme-color("text-tertiary");
        span{
            padding-left:10px;
        }
    }
    .active{
        .tab{
            color: theme-color("primary");
        }
        border-bottom: 4px solid theme-color("primary");
    }
}
// -------- Home page bottom tabs Css end Here ----------
// ------------- Award Start Here ----------------
.award-recogniation{
  .title{
      h2{
        @include border-left;
        font-weight: 400;
      }
  }
}
// ------------- Knowledge Hub Start Here ----------------
.knowledge-hub{
    .knowledge-hub-heading{
        .title{
            h2{
              @include border-left;
              font-weight: 400;
            }
        }
    }
  }
.sub-heading{
    margin-top: 100px;
    hr{
        margin: 0 auto;
        width: 85px;
        height: 1px;
    }
}
// ------------- Buyes Tips Start Here ----------------
.knowledge-hub{
    .buyer-tips-banner{
        .buyer-tips-image{
            margin-top: 30px;
        }
    }
    .about-loan{
        .description{
           height: 100%;
            padding: 45px 25px;
        }
    }
    .bg-light-gray{
        background-color: theme-color("bg-color");
    }
}
// ------------- Event Start Here ----------------
.event{
    .event-heading{
        .title{
            h2{
              @include border-left;
              font-weight: 400;
            }
        }
    }
  }
// ------------- Contact Start Here ----------------
hr{
    width: 30%;
    height: 1px;
    background: theme-color("primary");
    margin:  10px 0 15px 0;
}
.contact-section{
    .sub-heading {
        display: flex;
    }
    .contact-form{
        margin: 60px 0 0 0;
    }

    .contact-heading{
        .title{
            h2{
                @include border-left;
                font-weight: 400;
            }
        }
    }
    .contact-details{
        i{
            font-size: 30px;
            color:theme-color("icon-color");
        }   

    }
    form{
        .bg-color{
            background: #b2a585;
            padding: 15px 0;
        }
        .customer{
            select{
                flex-basis: 30%;
                background: transparent;
                color: #fff;
                border-color: #fff;
                border-radius: 0;
                option{
                    color: #929292;
                }
                    &:focus{
                    box-shadow: none;
                    outline: none;
                    border-color: #fff;
                }
            }
        }
    }
    .contact-form-bg {
        background: #fafafa;
        .form-row{
            input,textarea,select{
                background: transparent;
                border-color: #999999;
                border-radius: 0;
                color: #929292;
                    &::placeholder{
                        color: #929292;
                    }
            }
            .form-control:focus{
                box-shadow: none;
                outline: none;
                border-color: #999999;
            }
            .form-group{
                margin-bottom: 30px;
                padding: 0 20px 0 20px;
            }
        }
        button{
            padding: 15px 130px;
            border-radius: 0;
            background: theme-color("tertiary");
            border-color:theme-color("tertiary") ;
            &:focus{
                border-color:theme-color("tertiary");
                box-shadow: none;
            }
        }
    }
    .locate-us{
        margin: 100px 0 100px 0;
    }
}



/*==============================
 -----About us page css start
==============================*/
.about-sections{
    padding:68px 0;
}
// --------- Our Legacy css start here ----------
.our-legacy{
    .section-title{
        &::after{
            margin:0 auto;
        }
    }
    .slider-wrapper{
        background-color: theme-color("bg-secondary");
        padding:40px;
        .legacy-slide{
            height:80vh;
            position: relative;
            .legacy-slider-image{
                width:100%;
                height:100%;
                object-fit: cover;
            }
            .slide-caption{
                position: absolute;
                bottom:100px;
                left:0;
                background:rgba(00,00,00,0.7);
                padding:30px;
            }
        }
        .slick-dots{
          top:-20px;
          bottom:0;
          border-top:1px dotted theme-color("text-secondary");
          li{
            top:-16px;
            margin:0 12px;
            padding:0;
            button:before{
                font-size: 12px;
                color:red;
                opacity: 1;
            }
          }
        }
    }
}
// ------------- our vertical css start here ----------------
.our-vertivcal-sect{
    .section-title{
        &::after{
            margin:0 auto;
        }
    }  
}
.vertical-card{
    background-color: theme-color("bg-secondary");
    overflow: hidden;
    .vertical-img-wrapper{
        max-height: 150px;
        flex-basis: 50%;
        img{
            height: 100%;
        }
    }
    .vertical-card-body{
      padding:24px;
      flex-basis: 50%;
      .vertical-card-link{
          padding-left:28px;
      }
    }
}
.management-team-sect{
    .section-title{
        &::after{
            margin:0 auto;
        }
    }  
}
.management-card{
    background-color: theme-color("bg-secondary");
    overflow: hidden;
    .management-img-wrapper{
        max-height: 308px;
        flex-basis: 50%;
        img{
            height: 100%;
        }
    }
    .management-card-body{
      flex-basis: 50%;
      padding: 40px 98px;
    }
}

// ------------- Footer Start Here ----------------
footer{
    .copyright{
        p,a{
            color: #a7a7a7;
            font-size: 14px;
        }
        a:hover{
                color: theme-color("primary");
                text-decoration: none;
                transition: .5s ease-in-out;  
           }
    }
    background: theme-color("footer-bg");
    .footer-menu{
        ul{
            li{
                padding: 0 30px 0 0;
                border-right: 1px solid #fff;
                margin-left: 30px;
                a{
                    color: #fff;
                    &:hover{
                        color: theme-color("primary");
                        text-decoration: none;
                        transition: .5s ease-in-out;
                    
                }
    }
                &:last-child{
                    border-right: none;
                }
            }
        }
    }
    .footer-social-icon{
        ul{
            li{
                a{
                    i{
                        color: #333;
                    }
                }
            }
        }
    }
}
.background-circle{
    border-radius: 50%;
    background: #c1c1c1;
    width: 25px;
    text-align: center;
    margin-right: 20px;
    &:hover{
        background:  theme-color("primary");
        cursor: pointer;
        transition: .5s ease-in-out;
    }
}
.bottom-border{
    border-bottom: 1px solid #525252;
}
.description{
    color: #929292;
}

// ------------- Event Start Here ----------------
.event{
    .event-heading{
        .title{
            h2{
              @include border-left;
              font-weight: 400;
            }
        }
    }
  }

  

// ------------- Knowledge Hub Start Here ----------------
.knowledge-hub{
    margin-bottom: 100px;
    .buyer-tips-banner{
        .buyer-tips-image{
            margin-top: 30px;
        }
        .buyer-tips-box{
            width: 656px;
            height: 209px;
            bottom: 45px;
            left: 77px;
            background: #000000a3;
            padding: 20px 40px;
            hr{
                width: 96%;
                background: #fff;
                opacity: 0.43;
               
            }
            p{
                opacity: 0.8;
            }
        }
    }
    .about-loan,
    .important-notices,
    .maha-rera{
        .description{
           height: 100%;
            padding: 45px 25px;
        }
    }
    .maha-rera,
    .important-notices{
        .sub-heading{
            margin-top: 80px;
        }
    }
    .bg-light-gray{
        background-color: theme-color("bg-color");
    }
    .guidelines-nris {
        .guidelines-nris-info{
            width: 247px;
            padding: 14px 23px;
            bottom: 42px;
            opacity: 0.68;
            background-color: #000000;
        }
    }
    .know-more{
        a{
         color: #b1a585;
        }
     }
    //  .maha-rera,
    //  .important-notices,
    //  .guidelines-nris,
    //  .about-loan{
    //      margin: 0 10px;
    //  }
}

/*======================================
    Career page css start
========================================*/
.career-page{
    .section-title{
        &::after{
            margin:0 auto;
        }
    }
}
.life-at-bramha{
    .slider-wrapper{
        background-color: theme-color("bg-secondary");
        padding:40px;
        .life-at-bramha-slide{
            height:80vh;
            .life-at-bramha-slider-image{
                width:100%;
                height:100%;
                object-fit: cover;  
            }
        }
    }
}
.search-bar{
    position: relative;
    padding-left:35px;
    border-radius: 0;
}
.search-btn{
    position: absolute;
    top: 8px;
    background: transparent;
    border: 0;
    left: 20px;
}
.career-tabs{
    height:183px;
    .btn-wraper{
        flex-basis: 23%;
    }
    .btn-wraper-big{
        flex-basis: 29%;
    }
    .avtive{
        background-color: theme-color("heading-primary");
    }
}
// ------ accordian css ------
.accordions-sect{
    .card{
        border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
    }
    .card-head{
        height:90px;
    }
    .accordion{
        border-top: 1px solid rgba(0, 0, 0, 0.125);
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
}
// ------------- Media Query Start Here ----------------
@media (max-width:1200px){
    .career-tabs{
        .btn-tertiary{
            padding:16px 8px;
        }
    }
}
@media (max-width:992px){
    .knowledge-hub{
        .buyer-tips-banner-img{
            .buyer-tips-box{
                width: 535px;
                height: 180px;
                bottom: 40px;
                left: 48px;
                padding: 15px 30px;
                
            }
        }
        .about-loan,
        .maha-rera,
        .important-notices{
            .description {
                padding: 25px;
            }
            .about-loan-img,
            .maha-rera-img,
            .important-notices-img{
                img{
                    height: 200px;
                    object-fit: cover;
                }
            }
        }
        .guidelines-nris {
            .guidelines-nris-img{
                img{
                    height: 329px;
                    object-fit: cover;
                }
            }
        }
    }
    .section-title{
        font-size:20px;
    }
    .vertical-card .vertical-card-body{
        padding:20px;
    }
    .management-card .management-card-body{
        padding:20px;
    }

}
@media (max-width:768px){
    .our-verticals-tabs .nav-item{
        padding:15px 9px;
    }

    .contact-section {
        .locate-us{
            margin-bottom: 50px;
        }
        hr{
            margin: 0 auto;
            width: 18%;;
        }
        form{
            .customer {
                select{
                    flex-basis: 84%;
                }
            }
        } 
        .contact-details{
            text-align: center;
            .sub-heading {
                display: block;
                margin-bottom: 15px ;
            }
            .description{
                margin: 15px 0  40px 0;
            }
        }
    }
    footer{
        .copyright{
            margin-top: 10px;
        }
    }
    .knowledge-hub{
        .sub-heading{
            margin-top: 60px;
        }
        .about-loan{
            .sub-heading{
                margin-top: 0;
            }
        }
        .knowledge-hub-heading{
            .title{
                padding-top: 25px;
            }
        }
       .buyer-tips-banner{
           margin-bottom: 80px;
           .container{
               padding: 0;
           }
           .buyer-tips-box{
               width: 100%;
               height: auto;
               left: 0;
               bottom: 0;
               padding: 20px 20px;
               .sub-title,
               hr{
                   display: none;
               }
               .know-more{
                   align-self: flex-end;
                   position: absolute;
                   bottom: -34px;
                  
               }
           }
       }
       .guidelines-nris {
            .guidelines-nris-img{
            img{
                height: auto;
                object-fit: cover;
                }
           }
        }
   } 
   .career-tabs{
    .btn-wraper{
        flex-basis: 23%;
    }
    .btn-wraper-big{
        flex-basis: 30%;
    }
    .btn-tertiary{
        padding:16px 0;
    }
}
   .about-sect-4{
       height:auto !important;
   }
   .management-card{
       height: 200px;
   }
}
@media (max-width:580px){
    .navbar-collapse{
        width:96%;
    }
    .bg-color {
        margin-top: 0;
        background: theme-color("bg-color");
            .padding-block-60{
                padding: 25px 0 25px 0;
            }
            .page-heading{
                font-size: 24px;  
            }
            .text{
                padding: 0 15px;
            }
        }
    .our-verticals-tabs{
      .nav-item{
          padding:15px 0;
      }
    }
    .tab{
        font-size: 12px;
        i{
            display: none;
        }
    &::before{
        content: '\f111';
    }
    }
    .contact-section{
        .bg-color {
            .form-control{
                flex: 75%;
            }
          
        }
        .contact-form-bg{
            button{
                width: 100%;
                padding: 15px 0;
            }
            .form-row{
                .form-group{
                    padding: 0;
                }
            }
           
        }
    }
    .contact-heading, 
    .award-recogniation-heading,
    .event-heading,
    .knowledge-hub-heading{
        margin-top: 0;
        padding-bottom: 20px;
        background: #fafafa;
        .title{
            h2{
                font-size: 20px;
                padding: 10px 10px;
                color: #9b9b9b;
                font-weight: 400;
            }
        }
        .container{
            padding: 0;
        }
        .description{
            padding: 0 15px  0 15px ;
        }
    }
   
    footer{
        .footer-menu,.footer-social-icon{
            display: none;
            .copyright{
                margin-top: 10px;
            }
        }
    }
 .knowledge-hub{
     margin-bottom: 60px;
     .knowledge-hub-heading{
         .title{
             padding-top: 25px;
         }
     }
    .buyer-tips-banner{
        .sub-heading{
            margin-top: 60px;
        }
        margin-bottom: 80px;
        .container{
            padding: 0;
        }
    }
    .about-loan,
    .maha-rera,
    .important-notices{
        margin: 0;
        .description{
            padding: 14px 25px;
        }
        .sub-heading{
            margin-top: 0;
           h3{
            text-align: center;
           }
           hr{
               width:30px;
               margin: 0 auto;
           }
        }
    }
    .guidelines-nris {
        margin: 60px 0 80px 0;  
        .sub-heading{
            display: none;       
        }
        .guidelines-nris-info{
            width: 100%;
            height: auto;
            bottom: 0;
            position: unset!important;
            opacity: 0.78;
            .know-more{
                position: absolute;
                right: 18px;
                bottom: -33px;
            }

        }
    }
    .maha-rera{
        margin: 0 0 60px 0;  
        .sub-heading {
            margin-top: 0;
        }
    }
 }
 .year-img-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:12px 0;
    img{
        width:50% !important;
    }
 }
}
@media (max-width:420px){
    .navbar-collapse{
        width:95%;
    }
    .contact-section{
        .bg-color {
            select{
                flex: 100%;
            }
           
        }
    }
    .vertical-card,
    .management-card{
        height:150px;
    }
}
