$theme-colors: (
  "primary": #b82831,
  "secondary": #fbfbfb,
  "tertiary":#b2a585,
  "footer-bg": #333333,
  "danger": #ff4136, 
  "heading-primary":#333333,
  "headig-secondary":#958c65,
  "text-primary":#343434,
  "text-secondary":#5b5b5b,
  "text-tertiary":#7f7f7f,
  "icon-color":#b0a683,
  "bg-color":#f9fafa,
  "sub-title-color":#988a63,
  "text-black":#000,
  "border-color":#eeeeee,
  "border-color-secondary":#979797
);

.mt-25{
    margin-top: 25px;
}
$font-sizes:(
  "heading-primary-size": 4rem,
  "heading-secondary-size":3rem,
  "heading-tertiary-size":2rem,
  "default": 1rem
);
@mixin border-left {
    border-left: 10px solid #b0a683;
    padding-left: 10px;
}
@mixin hover {
    color: theme-color("primary");
    text-decoration: none;
    transition: .5s ease-in-out;  
}
.sub-title{
    color: #b0a683;
    font-weight: 400;
    font-size: 24px;
}
@font-face {
    font-family: 'georgia-regular';
    src: url(../fonts/georgia.ttf) format('truetype');
}
@font-face {
    font-family: 'georgia-bold';
    src: url(../fonts/georgiab.ttf) format('truetype');
}
@font-face {
    font-family: 'georgia-italic';
    src: url(../fonts/georgiai.ttf) format('truetype');
}
@font-face {
    font-family: 'Graphik';
    font-weight: 100;
    src: url(../fonts/Graphik-Thin.otf) format('Opentype');
}
@font-face {
    font-family: 'Graphik';
    font-weight: 200;
    src: url(../fonts/Graphik-Extralight.otf) format('Opentype');
}
@font-face {
    font-family: 'Graphik';
    font-weight: 300;
    src: url(../fonts/Graphik-Light.otf) format('Opentype');
}
@font-face {
    font-family: 'Graphik';
    font-weight: 400;
    src: url(../fonts/Graphik-Regular.otf) format('Opentype');
}
@font-face {
    font-family: 'Graphik';
    font-weight: 500;
    src: url(../fonts/Graphik-Medium.otf) format('Opentype');
}
@font-face {
    font-family: 'Graphik';
    font-weight: 600;
    src: url(../fonts/Graphik-Semibold.otf) format('Opentype');
}
@font-face {
    font-family: 'Graphik';
    font-weight: 700;
    src: url(../fonts/Graphik-Bold.otf) format('Opentype');
}
@import "../../../node_modules/bootstrap/scss/bootstrap";

body{
    font-family: 'Graphik', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: -0.31px;
    color: theme-color("text-tertiary");
}
/*================================
-------- Common Basic css start
================================*/ 


body{
    font-family: 'Graphik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.86;
    letter-spacing: -0.31px;
    color: theme-color("text-tertiary");
}
// -------- Input Box Css start Here ----------
input,textarea,select{
    font-weight: 300;
    padding-left: 8px;
    font-size: 14px;
    background: transparent;
    border: solid 0.5px #999999;
    border-radius: 0;
    color: #929292;
        &::placeholder{
            color: #929292;
            font-weight: 300;
            font-size: 14px;
     }
     &:focus{
        box-shadow: none;
        outline: none;
        border-color: #999999;
    }
}
.padding-block-60{
    padding: 52px 0 24px;
}
.mt-25{
    margin-top: 25px;
}
.mb-100 {
    margin-bottom: 100px;
}
.mt-140{
    margin-top: 140px;
}
.mt-92{
    margin-top:92px;
}
.page-heading{
    border-left: 10px solid theme-color("tertiary");
    font-family: 'Graphik', sans-serif;
    font-weight: 400;
    padding:4px 12px;
    opacity: 0.8;
    font-size:30px;
    color: theme-color("text-black");
    align-items: center;
    display: flex;
   
}
.section-title{
    font-family: georgia;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.44px;
    color: theme-color("tertiary");
    text-align:left;
    &::after{
        content: "";
        border-bottom: 2px solid theme-color("primary");
        padding: 8px 0;
        width: 85px;
        display: block;
    }
}
.section-title-wrapper{
    padding-bottom:48px;
}
.inner-section-title{
    font-family: georgia;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.4px;
    color: theme-color("headig-primary");
    text-align:left;
    color: #333;
    text-transform: capitalize;
}
.section-title-secondary{
  font-family: 'Graphik', sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: -0.31px;
  color: theme-color("text-black");
}
.black-text{
    color:theme-color("text-black");
}
.text-white{
    color:theme-color("text-white");
}
.link-text{
  font-family: 'Graphik', sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: -0.23px;
  color: theme-color("tertiary");
  cursor: pointer;
  &:hover{
      text-decoration: none;
  }
}
.hr-primary{
    width:85px;
    height:3px;
    background: theme-color("primary");
}
.btn-primary{
    padding:16px 24px;
    border:1px solid theme-color("secondary");
    color: theme-color("secondary");
    width:169px;
}
.btn-secondary{
    padding: 16px 0;
    width: 320px;
    border-radius: 0;
    font-weight: 300;
    color:#fff;
    background: theme-color("tertiary");
    border-color:theme-color("tertiary");
    border:0;
    &:focus{
        border-color:theme-color("tertiary");
        box-shadow: none;
    }
    &:hover{
        color: #fff;
    }
}
.button-tertiary{
    padding: 16px;
    color:theme-color("text-tertiary");
    border:1px solid theme-color("border-color-secondary");
    font-family: 'Graphik', sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: -0.4px;
    text-align: center;
    background:transparent;
    outline: 0;
    &:hover{
        background-color: theme-color("heading-primary");
        color:theme-color("secondary");
    }
}
img{
    object-fit: cover;
}

.list-style-none{
    list-style: none;
}
//Page heading
.page-heading-section{
    .main-description{
        padding: 0 16px 32px;
    }
}
.bg-light-gray{
    background-color: theme-color("bg-color");
    padding: 52px 0 64px 0;
}
.pages{
    margin-top: 28px;
}
// ------------------ Header Css Start ----------------
.header{
    box-shadow: 1px 0px 6px rgba(00,00,00,0.2);
}
.logo-img{
    width:60%;
}
.banner-section{
  width:100%;
  height: 81vh;
    .banner-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.navbar-collapse{
  position: absolute;
  background: theme-color("secondary");
  top: 56px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  z-index: 99;
}
.navbar-nav{ 
  .nav-item{
      padding: 10px 0;
      font-family: 'georgia-bold' , sans-serif;
      font-size: font-size("default");
  }
}
.navbar-light .navbar-nav .nav-link{
    color: theme-color("text-primary");
    padding:0.4rem 1rem 0.4rem 1.4rem;
    border-left:0.5rem solid theme-color("secondary");
}
.navbar-nav .nav-link:hover{
        border-left:0.5rem solid theme-color("primary");
}
.navbar-nav{
    .active{
        a{
            border-left:0.5rem solid theme-color("primary") !important  ;
        }
    }
}
// -------- Home page bottom tabs Css start Here ----------

.our-verticals-tabs{
    font-family: 'Graphik', sans-serif;
    font-weight: 500;
    .nav-item{
        padding:15px 10px;
        flex-basis: 24%;
    }
    li{
        border-bottom: 4px solid transparent;
        cursor: pointer;
        &:hover{
            border-bottom: 4px solid theme-color("primary");
            .tab{
                color: theme-color("primary");
            }
        }
    }
    .tab{
        color: theme-color("text-tertiary");
        span{
            padding-left:10px;
        }
    }
    .active{
        .tab{
            color: theme-color("primary");
        }
        border-bottom: 4px solid theme-color("primary");
    }
}
.home-slider{
    .slick-arrow{
        display: none !important;
    }
}
// -------- Home page bottom tabs Css end Here ----------
// ------------- Award Start Here ----------------
.award-recogniation{
  .title{
      h2{
        @include border-left;
        font-weight: 400;
      }
  }
}

// ------------- Knowledge Hub Start Here ----------------

.knowledge-hub{
    margin-bottom: 124px;
        .important-notices{
            .inner-section-title{
                display: none;
            }   
        }
        .buyer-tips-banner{
            margin-top: 108px;
            .section-title::after{
                content: "";
                margin: 0 auto;
            }
            .buyer-tips-image{
            margin-top: 30px;
         }
        .buyer-tips-box{
            width: 541px;
            height: 172px;
            bottom: 45px;
            left: 77px;
            background: #000000a3;
            padding: 20px 40px;
                .section-title::after{
                    content: "";
                    width: auto;
                    padding: 6px 0;
                    border-bottom: 1px solid #fff;
                    opacity: 0.43;
                }
            p{
                opacity: 0.8;
                line-height: 24px;
                // letter-spacing: 0.31px;
                margin-top: 16px;
            }
        }
    }
    .bg-light-gray{
        height: 100%;
        padding: 44px 36px;
    }
    .guidelines-nris {
        .guidelines-nris-info{
            width: 247px;
            padding: 16px 24px;
            bottom: 42px;
            background-color: #000000a3;
            p{
                opacity: 0.85;
                font-size: 16px;
                font-weight: 300;
                letter-spacing: 0.36px;
            }
        }
    }
    .know-more{
        a{
         color: #b1a585;
         letter-spacing: -0.23px;
        }
     }
     .maha-rera-mb{
         border-bottom: 1px solid theme-color("border-color"); 
         border-top: 1px solid theme-color("border-color");
         padding: 12px 0;
         box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.06);
         .know-more{
            right: 18px;
            bottom: 12px;
        }
     }
  }

  // ------------- Knowledge Hub End Here ----------------
  
  
// ------------- Slider Start Here ----------------
.slick-center{
    transform: scale(1.3);
    transition: transform .5s ease;
}
.slider-img{
    margin: 42px 56px 32px;
}
.center .slick-prev {
    left: 32px;
    z-index: 1;
    &:before{
        content: "";
        background: url('../images/left-arrow-1.png') no-repeat center center;
        padding: 12px 0px 16px 38px;
}
}
.center .slick-next {
  transform: rotate(180deg);
  right: 50px;
  &:before{
    content: "";
    background: url('../images/left-arrow-1.png') no-repeat center center;
    padding: 12px 0px 16px 38px;
  }
}
// ------------- Slider End Here ----------------

// ------------- Contact Start Here ----------------
.contact-section{
    .contact-form{
        margin: 106px 0 0 0;
    }
    .contact-details{
        margin-top: 60px;
        p,address{
            opacity: 0.5;
            font-family: Graphik;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.71;
            letter-spacing: -0.31px;
            color: #000000;
        }
        i{
            font-size: 26px;
            color:theme-color("icon-color");
        }   
    }
    form{
        .form-bg-color{
            background: #b2a585;
            padding: 16px 0;
             label{
                 margin-right: 8px;
             }
        }
        .customer{
            select{
                flex-basis: 23%;
                background: transparent;
                color: #fff;
                border: solid 0.5px #ffffff;
                border-radius: 0;
                padding: 4px;
                font-weight: 300;
                font-size: 14px;
                height: 30px;
                option{
                    color: #929292;
                }
                    &:focus{
                    box-shadow: none;
                    outline: none;
                    border-color: #fff;
                }
            }
        }
    }
    .contact-form-bg {
        background: #fafafa;
        padding: 40px 0 40px 0;
        .container{
            max-width: 700px;
        }
        .form-row{
            select{
                font-weight: 300;
                font-size: 14px; 
            }
            input,textarea,select{
                font-weight: 300;
                padding-left: 8px;
                font-size: 14px;
                background: transparent;
                border: solid 0.5px #999999;
                border-radius: 0;
                color: #929292;
                    &::placeholder{
                        color: #929292;
                        font-weight: 300;
                        font-size: 14px;
                    }
            }
            input,select{
                height: 30px;
            }
            .form-control:focus{
                box-shadow: none;
                outline: none;
                border-color: #999999;
            }
            .form-group{
                margin-bottom: 32px;
                padding: 0 20px 0 20px;
            }
        }
        button{
            padding: 16px 0;
            width: 320px;
            border-radius: 0;
            font-weight: 300;
            background: theme-color("tertiary");
            border-color:theme-color("tertiary") ;
            &:focus{
                border-color:theme-color("tertiary");
                box-shadow: none;
            }
        }
    }
    .locate-us{
        margin: 130px 0 116px 0;
    } 
    .locate-us,
    .contact-form{
        .section-title{
            margin-bottom: 26px;
            &::after{
                display: none;
            }
        }

    }
    .map {
        -webkit-filter: grayscale(100%);
           -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
             -o-filter: grayscale(100%);
                filter: grayscale(100%);
    }
}


/*==============================
 -----About us page css start
==============================*/
.about-sections{
    padding:68px 0;
}
// --------- Our Legacy css start here ----------
.our-legacy{
    .section-title-wrapper{
        padding-bottom:24px;
    }
    .section-title{
        &::after{
            display:none;
        }
    }
    .slider-wrapper{
        background-color: theme-color("bg-color");
        padding:68px 0px 40px;
        .legacy-slide{
            height:80vh;
            position: relative;
            .legacy-slider-image{
                width:100%;
                height:100%;
                object-fit: cover;
            }
            .slide-caption{
                position: absolute;
                bottom:100px;
                left:0;
                background:rgba(00,00,00,0.7);
                padding:30px;
            }
        }
        .slick-dots{
          top:-20px;
          bottom:0;
          border-top:1px dotted theme-color("text-secondary");
          li{
            top:-16px;
            margin:0 12px;
            padding:0;
            button:before{
                font-size: 12px;
                color:red;
                opacity: 1;
            }
          }
        }
    }
}
.our-legacy .slider-wrapper .slick-dots li {
    top: -18px;
    margin: 0 36px;
    padding: 0px; 
}
// ------------- our vertical css start here ----------------
.our-vertivcal-sect{
    .section-title{
        &::after{
            margin:0 auto;
        }
    }  
}
.vertical-card{
    background-color: theme-color("bg-color");
    overflow: hidden;
    .vertical-img-wrapper{
        max-height: 150px;
        flex-basis: 50%;
        img{
            height: 100%;
        }
    }
    .vertical-card-body{
      padding:24px;
      flex-basis: 50%;
      .vertical-card-link{
          padding-left:28px;
      }
    }
}
.management-team-sect{
    .section-title{
        &::after{
            margin:0 auto;
        }
    }  
}
.management-card{
    background-color: theme-color("bg-color");
    overflow: hidden;
    .management-img-wrapper{
        max-height: 308px;
        flex-basis: 50%;
        img{
            height: 100%;
        }
    }
    .management-card-body{
      flex-basis: 50%;
      padding: 40px 98px;
    }
}

/*===========================================
    Residencial Details page css start here
=============================================*/
.logo-card{
    width:300px;
    box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.18);
    background-color: #ffffff;
    padding:8px 0;
    margin-top: -32px;
    position: relative;
    z-index: 99;
  }
  .slider-wrapper-gray{
      padding: 48px 0;
      background: theme-color(bg-color);
      .showcase-slider{
          max-height:75vh;
          overflow: hidden;
      }
  }
  .detail-page-sections{
      padding-top:76px;
      padding-bottom: 76px;
  }
  
  #pills-tab{
      border-bottom:1px solid theme-color(tertiary);
    .tab-icon{
      font-size:32px;
      margin-bottom:8px;
    }
  }
  #pills-tabContent{
      border-bottom:1px solid theme-color(tertiary);
      ul{
        padding-top:36px;
        padding-bottom:36px;
      }
  }
  .nav-pills .nav-link{
      color:theme-color(text-tertiary);
  }
  .nav-pills .nav-link.active{
      border:1px solid theme-color(border-color);
      border-bottom:5px solid theme-color(tertiary);
      border-radius: 5px 5px 0 0;
      background-color: transparent;
      color:theme-color(heading-primary);
  }
  #factfile-tab .nav-link{
      border-bottom:3px solid theme-color(border-colors);
      background-color: theme-color(bg-color);
      border-radius: 0;
  }
  #factfile-tab .nav-link.active{
      border:1px solid theme-color(border-color);
      border-bottom:3px solid theme-color(tertiary);
      border-radius: 0;
      background-color: transparent;
      color:theme-color(tertiary);
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
  }
  .amenities{
      button{
          flex: 1 200px;
          margin: 12px 8px;
          border: 0;
          background: transparent;
          color:theme-color(text-tertiary);
          outline: 0;
          i{
            font-size: 32px;
            padding: 5px 24px 5px;
          color:theme-color(text-tertiary);
          }
          &:hover{
              color:theme-color(primary);
              i{
                  color:theme-color(primary);
              }
          }
      }
  }
  // ------------- Contact Start Here ----------------
  .contact-section{
      .contact-form{
          margin: 106px 0 0 0;
      }
      .contact-details{
          margin-top: 60px;
          p,address{
              opacity: 0.5;
              font-family: Graphik;
              font-size: 14px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.71;
              letter-spacing: -0.31px;
              color: #000000;
          }
          i{
              font-size: 26px;
              color:theme-color("icon-color");
          }   
      }
      form{
          .form-bg-color{
              background: #b2a585;
              padding: 16px 0;
               label{
                   margin-right: 8px;
               }
          }
          .customer{
              select{
                  flex-basis: 23%;
                  background: transparent;
                  color: #fff;
                  border: solid 0.5px #ffffff;
                  border-radius: 0;
                  padding: 4px;
                  font-weight: 300;
                  font-size: 14px;
                  height: 30px;
                  option{
                      color: #929292;
                  }
                      &:focus{
                      box-shadow: none;
                      outline: none;
                      border-color: #fff;
                  }
              }
          }
      }
      .contact-form-bg {
          background: #fafafa;
          padding: 40px 0 40px 0;
          .container{
              max-width: 700px;
          }
          .form-row{
              select{
                  font-weight: 300;
                  font-size: 14px; 
              }
              input,textarea,select{
                  font-weight: 300;
                  padding-left: 8px;
                  font-size: 14px;
                  background: transparent;
                  border: solid 0.5px #999999;
                  border-radius: 0;
                  color: #929292;
                      &::placeholder{
                          color: #929292;
                          font-weight: 300;
                          font-size: 14px;
                      }
              }
              input,select{
                  height: 30px;
              }
              .form-control:focus{
                  box-shadow: none;
                  outline: none;
                  border-color: #999999;
              }
              .form-group{
                  margin-bottom: 32px;
                  padding: 0 20px 0 20px;
              }
          }
          button{
              padding: 16px 0;
              width: 320px;
              border-radius: 0;
              font-weight: 300;
              background: theme-color("tertiary");
              border-color:theme-color("tertiary") ;
              &:focus{
                  border-color:theme-color("tertiary");
                  box-shadow: none;
              }
          }
      }
      .locate-us{
          margin: 130px 0 116px 0;
      } 
      .locate-us,
      .contact-form{
          .section-title{
              margin-bottom: 26px;
              &::after{
                  display: none;
              }
          }
  
      }
  }
  .detail-maharera-sections{
      padding-bottom:128px;
  }
.detail-page{
    .section-title{
        padding-bottom:32px;
        &:after{
            display: none;
        }
    }
      .page-heading-section{
          div{
              padding-top:76px;
              padding-bottom: 32px;
          }
      }
    .detail-page-sections{
        .slider-wrapper{
            background-color: theme-color("bg-color");
            padding:40px;
        }
        .hospitality-viewmore{
            width:196px;
            color:theme-color("tertiary");
            padding:16px 20px;
            background:transparent;
            border:1px solid theme-color("tertiary");
        }
        .btn-secondary{            
            color: #fff;
            background: theme-color("tertiary");
            border:1px solid theme-color("tertiary");
            &:hover{
                background-color: transparent;
                color:theme-color("tertiary");
                text-decoration: none;
            }
        }
    }
}

.map {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: grayscale(100%);
}


// ------------- Footer Start Here ----------------
footer{
    .copyright{
        margin-bottom: 28px;
        opacity: 0.6;
        p{
            color: #f6f5f2;
            font-size: 12px;
            a{
                @extend p
            }
        }
        a:hover{
                color: #fff;
                text-decoration: none;
                transition: .5s ease-in-out;  
           }
    }
    background: theme-color("footer-bg");
    .footer-menu{
        margin: 58px 0 40px 0;
        ul{
            margin-bottom: 36px;
            .nav-item{
                margin-bottom: 26px;
                a{
                    color: #fff;
                    padding:0 24px 0 24px;
                    border-right: 1px solid #fff;
                    font-size: 15px;
                    font-weight: 200;
                    line-height: normal;
                    letter-spacing: normal;
                    &:hover{
                        color: theme-color("primary");
                        text-decoration: none;
                        transition: .5s ease-in-out;
                    }
                }
                &:last-child{
                   a{
                    border-right: none;
                   }
                }
            }
        }
    }
    .footer-social-icon{
        ul{
            margin-bottom: 40px;
            & .background-circle:last-child{
                margin-right: 0;
            }
            li{
                a{
                    i{
                        color: #333;
                    }
                }
            }
        }
    }
}
.background-circle{
    border-radius: 50%;
    background: #c1c1c1;
    width: 24px;
    height: 24px;
    text-align: center;
    margin-right: 28px;
    &:hover{
        background:  theme-color("primary");
        cursor: pointer;
        transition: .5s ease-in-out;
    }
}
.bottom-border{
    border-bottom: 1px solid #525252;
}

// --------- Residential Projects css start here ----------
.residential-projects{
    .projects{
        margin: 64px 0 80px 0;
      select{
          width: 271px;
          height: 40px;
          margin-right: 24px;
      }
    }
    .residences{
        padding-top: 20px;
        .residences-card{
            margin: 72px  0 72px;
        }
    }
    .listing-heading{
      width: 300px;
      height: 40px;
      background: #b1a585;
      margin-top: -40px;
        .heading{
          font-size: 18px;
          font-weight: 200;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: -0.54px;
          color: #ffffff;
          margin-left: 20px;
        
        }
    }
    .complete-project{
        margin-bottom: 148px;
        .container{
            text-align: center;
        }
        .secondary-card{
            margin: 0 15px;
            .secondary-card-rectangle{
                text-align: left;
            }
        }
        p{
          opacity: 0.5;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.71;
          letter-spacing: -0.31px;
          color: #000000;
          margin: 32px 0 56px 0;
        }
        .listing-heading{
            margin-top: -23px;
        }
    }
    .slick-list{
        padding-bottom: 46px;
    }
    .slick-prev {
        left: -50px;
        &:before{
            content: "";
            background: url('../images/left-arrow-1.png') no-repeat center center;
            padding: 12px 0px 16px 38px;
    }
  }
  .slick-next {
      transform: rotate(180deg);
      right: -50px;
      &:before{
        content: "";
        background: url('../images/left-arrow-1.png') no-repeat center center;
        padding: 12px 0px 16px 38px;
      }
    }
} 
.residences{
    background-color:theme-color("bg-color"); 
    padding: 72px 0 172px;
}
// -------------   Hospitality Projects Start Here ----------------
.hospitality-projects {
  margin: 56px 0 80px 0;
}
    .slick-next,
    .slick-prev{
        top: 100px;
    }


/// -------------   Hospitality Projects Start Here ----------------
  .hospitality-projects {
    margin: 56px 0 80px 0;
    }
// ------------- Card Start Here ----------------
.card-primary{
    .card-primary-img{
        height: 100%;
        img{
            height: 100%;
        }
    }
}
.residences{
    background-color:theme-color("bg-color"); 
    padding: 72px 0 148px;
}
//Residences Card 
.residences-card{
    .residences-img {
        // position: relative;
        // padding-bottom: 133.33%;
          .gatsby-image-wrapper{
              padding-bottom: 133.33%;
              div{
                  padding: 0!important;
              }
            img{
                position: absolute;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
          }
    }
    .rectangle{
        width: 90%;
        // height: 110px;
        box-shadow: 6px 6px 13px 0 rgba(227, 227, 227, 0.76);
        background: #fff;
        padding: 20px   ;
        bottom: -70px;
        left: 10px;
    .rectangle-title{
        .inner-section-title{
            color: theme-color("headig-secondary");
        }
    }
   
    i {
        color:theme-color("icon-color");
    }
    .fa-map-marker-alt{
        margin-right: 4px;
    }
    .apartment-size{
        span{
          opacity: 0.35;
          font-size: 12px;
          color:theme-color("text-black"); 
    }
}
.project-location{
    span{
        font-size: 13px;
        opacity: 0.5;
        color:theme-color("text-black"); 
    }
    i {
        font-size: 12px;
    }
  }
}
}
// Secondary card
.image-ratio{
    .gatsby-image-wrapper{
        padding-bottom: 66.6%;
        div{
            padding: 0!important;
        }
      img{
          position: absolute;
          object-fit: cover;
          width: 100%;
          height: 100%;
      }
    }    
}
.secondary-card{
    .secondary-card-rectangle{
        width:90%;
        // height: 75px;
        box-shadow: 3px 3px 13px 0 rgba(227, 227, 227, 0.65);
        background-color: #FFFFFF;
        padding: 20px 20px 16px 20px;
        bottom: -50px;
        left: 10px;
        .inner-section-title{
            font-size: 14px;
            color: theme-color("headig-secondary");;
            letter-spacing: 0.14px;
        }
        .project-location,
        .apartment-size{
            font-size: 10px;
            color: #000;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: -0.17px;
        }
        .project-location{
           span{
            opacity: 0.5;
           }
        }
       .apartment-size{
            span{
                opacity: 0.35;
            }
       }
        i {
            color:theme-color("icon-color");
        }
        .fa-map-marker-alt{
            margin-right: 4px;
        }
    }
}
// ------------- Card End Here ----------------

// ------------- Event Start Here ----------------

    .center{
       .slick-next{
            top: auto;
            left: auto;
            bottom: -58px;
            right: 15%;
            &:before{
                display: none;
                background: url('../images/left.jpg') no-repeat center center;
                padding: 0 0 0 36px;
              }
        }
        .slick-prev{
            right: 24%;
            bottom: -78px;
            top: auto;
            left: auto;
            &:before{
                display: none;
                background: url('../images/left.jpg') no-repeat center center;
                padding: 0 0 0 36px;
              }
        }
        .slick-next,
        .slick-prev{
            width: 7%;
            height: 8%;
            background-color: #333333;
            &:hover,
            &:focus{
                color: #000;
                background: #000;
            }
        }
    }
    .section-title{
        margin: 64px 0 16px 0;
        &::after{
            content: "";
            margin: 0 auto;
        }  
    }

// ------------- Event End Here ----------------

/*======================================
    Career page css start
========================================*/
.career-page{
    .section-title{
        &::after{
            margin:0 auto;
        }
    }
}
.life-at-bramha{
    .section-title-wrapper{
        padding-bottom:24px;
    }
    .section-title{
        &::after{
            display: none;
        }
    }
    .slider-wrapper{
        background-color: theme-color("bg-color");
        padding:40px;
        .life-at-bramha-slide{
            height:80vh;
            .life-at-bramha-slider-image{
                width:100%;
                height:100%;
                object-fit: cover;  
            }
        }
    }
}
.search-bar{
    position: relative;
    border:1px solid theme-color("border-secondary");
}
.search-btn{
    position: absolute;
    top: 12px;
    background: transparent;
    border: 0;
    left: 30px;
}
.career-tabs{
    .btn-wraper{
        flex-basis: 23%;
    }
    .btn-wraper-big{
        flex-basis: 29%;
    }
    .avtive{
        background-color: theme-color("heading-primary");
    }
}
// ------ accordian css ------
.accordions-sect{
    .card{
        border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
    }
    .card-header{
        h5{
            cursor: pointer;
            opacity: 0.6;
            font-family: Graphik;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.43;
            letter-spacing: -0.31px;
            color:theme-color("text-black");
        }
        i{
            color:theme-color("text-black");
        }
    }
    .card-head{
        height:90px;
    }
    .card-body{
        .btn-secondary{
            background:theme-color("tertiary");
            color:#fff;
        }
    }
    .accordion{
        border-top: 1px solid rgba(0, 0, 0, 0.125);
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
}
.input-file-btn{
    color:transparent;
    outline: 0;
}
.input-file-btn::-webkit-file-upload-button {
    visibility: hidden;
  }
.input-file-btn::before {
    content: 'Upload Your CV';
    display: block;
    padding: 16px;
    background:theme-color("tertiary");
    color:theme-color("text-white");    
    font-size: 14px;
    font-family: 'Graphik', sans-serif;
    font-weight: 400;
    letter-spacing: -0.4px;
    text-align: center;
    outline: none;
    -webkit-user-select: none;
    cursor: pointer;
    width:302px;
    border:1px solid transparent;
    color:#fff; 
  }
  .input-file-btn:hover::before {
    background-color: transparent;
    border:1px solid theme-color("tertiary");
    color:theme-color("tertiary");
  }
// // slick arrow
// .slick-prev:before{
//     content: "\f054";
//     font: 40px/1 'FontAwesome';
//     background: black;
// }
// ------------- Media Query Start Here ----------------
@media (max-width:1200px){
         // slider
         .slider-img{
            margin: 42px 44px 32px;
        }
    // Hospitality project
    .hospitality-projects{
        margin-bottom: 0;
     }
    
    // Residence Card
    .residences-card {
        .rectangle{
            width: 90%
        }
     }
     .residential-projects{
        .projects{
            select{
                margin-bottom: 16px;
            }
        }
     }
        .career-tabs{
            .btn-tertiary{
                padding:16px 8px;
            }
        }
        .residential-projects{
            .complete-project{
                margin-bottom:100px ;
            }
            .slick-prev {
                left: -31px;
            }
            .slick-next {
                right: -31px;
            }
        }
        //slider
        .center{
            .slick-next{
                right: 28%;
                bottom: -51px;
            }
            .slick-prev{
                bottom: -66px;
                right: 19%;
            }
        }
    }
    @media (max-width:992px){
        //------- about us ----
        .management-card .management-card-body {
            padding: 20px 38px;
        }
        // slider
        // .slider-img{
        //     margin: 42px 43px 32px;
        // }
        // Card Primary
        .card-primary{
            .card-primary-img{
               img{
                height: 210px;
                object-fit: cover;
               }
           }
        }  
        
        .knowledge-hub{
            .mt-100{
                margin-top: 0;
            }
            .heading{
                margin-top: 80px;
            }
            .buyer-tips-banner-img{
                .buyer-tips-box{
                    width: 535px;
                    height: 180px;
                    bottom: 40px;
                    left: 48px;
                    padding: 15px 30px;    
                }
            }
    
         }
            .guidelines-nris {
                .guidelines-nris-img{
                    img{
                        height: 390px;
                        object-fit: cover;
                    }
                }
            }
    // Hospitality project
    .hospitality-projects{
        margin-bottom: 0;
     }
    
    // Residence Card
    .residences-card {
        .rectangle{
            width: 90%;   
        }
      }
      //------------- Residencial detail page ---------------
        #amenities{
            .container{
                overflow-x: scroll;
                &::-webkit-scrollbar {
                    height:6px;
                }
                &::-webkit-scrollbar-thumb {
                    background: theme-color(border-color);
                    border-radius:30px;
                }
                &::-webkit-scrollbar-thumb:hover {
                    background: theme-color(text-secondary); 
                }
            }
        }
        .amenities-inner-wrapper{
            width:160%;
        }
  //slider
    .center{
        .slick-next{
            right: 22%;
            bottom: -51px;
        }
        .slick-prev{
            bottom: -64px;
            right: 12%;
        }
     }    
 }

    @media (max-width:767px){
        // slider
         .slider-img{
            margin: 20px 28px 16px;
         }
        .pages{
            margin-top: 12px;
        }
        .our-verticals-tabs .nav-item{
            padding:16px 8px;
        }
        .contact-section {
            .locate-us{
                margin-bottom: 50px;
            }
            form{
                .customer {
                    select{
                        flex-basis: 84%;
                    }
                }
            } 
            .contact-details{
                text-align: center;
                .sub-heading {
                    display: block;
                    margin-bottom: 16px ;
                }
                .description{
                    margin: 16px 0  40px 0;
                }
            }
            .contact-details{
                text-align: center;
                .section-title::after{
                    content: "";
                    margin: 0 auto;
                }
            }   
        }

        footer{
            .copyright{
                margin-top: 12px;
            }
        }
        // Knowledge Hub
        .knowledge-hub{
            .mt-92{
                margin-top: 0;
            }
            .heading{
                margin-top: 60px;
            }
            .section-title{
                margin-top: 0;
            }
            .knowledge-hub-heading{
                .title{
                    padding-top: 24px;
                }
            }
           .buyer-tips-banner{
               margin-bottom: 32px;
               .container{
                   padding: 0;
               }
               .buyer-tips-box{
                   width: 100%;
                   height: auto;
                   left: 0;
                   bottom: 0;
                   padding: 20px 20px;
                   .section-title,

                   .know-more{
                       align-self: flex-end;
                       position: absolute;
                       bottom: -34px;
                   }
               }
           }
           .guidelines-nris {
               margin-top: 0;
                .guidelines-nris-img{
                img{
                    height: auto;
                    object-fit: cover;
                    }
               }
            }
            .buyer-tips-info{
                .about-loan{
                    margin-top: 24px;
                }
              }
       } 
    // Hospitality Project
       .hospitality-projects{
        .residences{
            padding-bottom: 0;}
            .residences-card{
                margin-bottom: 140px;
            }
        }
   .career-tabs{
    .btn-wraper{
        flex-basis: 23%;
    }
    .btn-wraper-big{
        flex-basis: 30%;
    }
    .btn-tertiary{
        padding:16px 0;
    }
}
   .about-sect-4{
       height:auto !important;
   }
   .management-card{
       height: 200px;
   }
       // Residence Card
       .residences-card {
        .rectangle{
            width: 90%;
            left: 10px;
        }
      }

      //------------- Residencial detail page ---------------
    .nav-pills .nav-link, 
    .nav-pills .nav-link.active{
      padding: 10px 0;
    }
    .amenities-inner-wrapper {
        width: 200%;
        .image-wrapper{
            width: 100%;
            display: flex;
            align-items: center;
        }
    }
    .amenities button {
        flex: 1 140px;
        margin: 8px 4px;
    }
      .residential-projects{
        .complete-project {
            .slick-slider{
                margin-top: 28px;
            }
            .secondary-card {
                margin: 0 15px;
                .secondary-card-rectangle{
                    width: 90%;
                }
            }
             .slick-next,
             .slick-prev{
                 top: 180px;
             }
        }
      }
      .image-ratio{
        .gatsby-image-wrapper{
            padding-bottom: 133.33%;
        }
    }
      //slider
    .center{
        .slick-next{
            right: 26%;
            bottom: -31px;
        }
        .slick-prev{
            bottom: -40px;
            right: 17%;
        }
     }
}
@media (max-width:580px){
    .padding-sm-0{
        padding:0 !important;
    }
    .navbar-collapse{
        width:96%;
    }
    .bg-color {
        margin-top: 0;
        background: theme-color("bg-color");
            .padding-block-60{
                padding: 25px 0 25px 0;
            }
            .page-heading{
                font-size: 24px;  
                margin: 0;
            }
            .text{
                padding: 0 15px;
            }
        }
       .career-tabs{
        .btn-wraper{
            flex-basis: 23%;
        }
        .btn-wraper-big{
            flex-basis: 30%;
        }
        .btn-tertiary{
            padding:16px 0;
        }
    }
       .about-sect-4{
           height:auto !important;
       }
       .management-card{
           height: 200px;
       }  
    }

    @media (max-width:580px){
        .navbar-collapse{
            width:96%;
        }
        .bg-color {
            margin-top: 0;
            background: theme-color("bg-color");
                .padding-block-60{
                    padding: 25px 0 25px 0;
                }
                .page-heading{
                    font-size: 24px;  
                    margin:0;
                }
                .text{
                    padding: 0 15px;
                }
            }
        .our-verticals-tabs{
          .nav-item{
              padding:15px 0;
          }
        }
        .tab{
            font-size: 12px;
            i{
                display: none;
            }
        &::before{
            content: '\f111';
        }
        }   
        .contact-section{
            .bg-color {
                .form-control{
                    flex: 75%;
                }
              
            }
            .contact-form-bg{
                button{
                    width: 100%;
                    padding: 15px 0;
                }
                .form-row{
                    .form-group{
                        padding: 0;
                    }
                }
               
            }
            .contact-details{
                .section-title::after{
                    content: "";
                    margin: 0 auto;
                }
                i{
                    display: block;
                    margin-bottom: 12px;
                }
            }
        }
    //Knowledge Hub
     .knowledge-hub{
         margin-bottom: 124px;
         .section-title::after{
            content: "";
            margin: 0 auto;
            width:40px;
            padding: 4px 0;
        }
            .col-6{
                padding: 0;
            }
            .important-notices{
                margin-top: 60px;
                .section-title,p{
                    display: none;
                }   
                .inner-section-title{
                    display: block;
                }
                .card-primary-img{
                   img{
                    height: 115px;
                   }
                }
                .bg-light-gray{
                    padding: 24px 24px;
                    .know-more{
                        align-self: flex-end;
                    }
                }
            }
        .buyer-tips-banner{
            margin:80px 0 80px 0;
            .container{
                padding: 0;
            }
        }
        .guidelines-nris {
            margin: 92px 0 80px 0;  
            .heading{
                display: none;       
            }
            .guidelines-nris-info{
                width: 100%;
                height: auto;
                bottom: 0;
                position: unset!important;
                background: #333;
                
                .know-more{
                    position: absolute;
                    right: 18px;
                    bottom: -33px;
                }
            }
        }
        .maha-rera{
            margin: 0;  
        }
        .maha-rera-mb{
            img{
                height: 115px;
            }
        }
     }
     //card-primary
     .card-primary{
        .bg-light-gray{
            padding: 16px 26px;
        }
        .section-title{
            margin-top: 0;
            text-align: center;
      
        }
        .heading {
            margin-top: 0;
        }
    }
    //Hospitality Project
       .hospitality-projects{
            margin-bottom: 0;
            .residences{
                background-color: #fff;
                padding: 0;
        
             }
        }   
        .bg-color {
            margin-top: 0;
            padding:0;
            background: theme-color("bg-color");
                .padding-block-60{
                    padding: 24px 0 24px 0;
                }
                .page-heading{
                    font-size: 24px;  
                    margin: 0;
                }
        }
        //Page heading
        .page-heading-section{
            .main-paragraph{
                padding: 0 16px 32px;
            }
        }
        .year-img-wrap {
            width: 60% !important;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12px 0;
            margin: 0 auto 28px;
            }
//residential projects
    .residential-section {
        .main-paragraph{
            padding: 0 16px 60px;
        }   
    }
    .residential-projects{
        .projects{
             display: none;
        }
        .residences{
            background: #fff;
        }
        .complete-project {
            .container{
                background-color:theme-color("bg-color"); 
                padding: 0;
            }
            .listing-heading {
                transform: translate(0px,-18px);
            }
            .secondary-card {
                margin: 40px  24px;
            }
            .slick-list{
                padding-bottom: 124px!important;
            }
         .slick-next{
            bottom: -35px;
            right: 16px;
            top: auto;
            &:before{
                background: url('../images/left.jpg') no-repeat center center;
                padding: 0 0 0 36px;
              }
          }
          .slick-prev{
              top: auto;
              bottom: -45px;
              right: 90px;
              left: auto;
              &:before{
                background: url('../images/left.jpg') no-repeat center center;
                padding: 0 0 0 36px;
              }
          }
          .pagination{
              bottom: -40px;
              left: 70px;
          }
        }
        .slick-center{
            transform: scale(1.2);
            transition: transform .5s ease;
        }
    }

    /*Residencial media query start*/
        .logo-card{
            box-shadow: none;
            margin-top: 28px;
            width:280px;
            img{
            width: 70% !important;
            }
        }
        .detail-page-sections{
            padding-top:36px;
            padding-bottom:36px;
        }
        .residencial-details .page-heading-section div {
        padding-top: 36px;
        padding-bottom: 32px;
        .page-heading{
            border:0;    
            padding: 0;
            font-size: 20px;
            line-height: 32px;
        }
        }
        #pills-tab,
        #factfile-tab{
        padding: 0 15px;
        }
        .nav-pills .nav-link{
        padding: 10px 5px 0;
        height: 100%;
        }
        #pills-tabContent,
        #pills-tab {
        border-bottom:0;
        }

        .contact-section .contact-form-bg button{
        width: 265px;
        }
        #pills-tabContent ul {
        padding-top: 8px;
        padding-bottom: 8px;
        }
        .contact-section .contact-form-bg .form-row .form-group{
        padding: 0;
        }
        .center .slick-prev{
            right: 12%;
        }
        .center .slick-next{
            right: 22%;
            bottom: -30px;
        }
   
        .detail-page{
            .page-heading{
                border:0;
            }
        }

}

@media (max-width:420px){
    .residential-projects .listing-heading{
        width: 90%;
    }
    .slider-img {
        margin: 20px 24px 16px;
    }
    .pages{
        margin-top: 0;
    }
    .bg-light-gray{
        margin-top: 0;
        padding: 36px 0 36px 0;
    }
    .navbar-collapse{
        width:95%;
    }
    .contact-section{
        .bg-color {
            select{
                flex: 100%;
            }
        }
    //knowledge Hub
        .knowledge-hub{
            .important-notices{
                .bg-light-gray{
                    padding: 16px 26px;
                }
            }
        }  
    //Card Primary
       .card-primary{
         .card-primary-img{
            height: 100%;
            img{
              height: 100%;
            }
        }
       }     
    }
        // Residence Card
        // .residences-card {
        //     .rectangle{
        //         width: 280px;
        //         left: 10px;
        //     }
        //   }
    .residential-projects {
        .complete-project {
            .secondary-card{
                margin: 16px 20px;
            }
        }
        // .listing-heading{
        //     width: 100%;
        // }
        .residences{
            .residences-card{
                margin: 44px 0 72px;
            }
        } 
    }  
    .center .slick-prev{
        right: 8%;
        bottom: -29px;
    }
    .center .slick-next{
        right: 18%;
        bottom: -21px;
    }
    .btn-secondary{
        width:280px;
    }
}
@media (max-width:350px){
    .slider-img {
        margin: 20px 16px 16px;
    }
    .center {
        .slick-next{
            right: 20%;
            bottom: -15px;
        }
        .slick-prev {
            right: 9%;
            bottom: -22px;
        }
    }   
}   