// @charset 'UTF-8';
@import "../../../node_modules/bootstrap/scss/bootstrap";
// 1. Configuration and helpers
@import "abstracts/variables", "abstracts/functions", "abstracts/mixins";

// 2. Vendors
// @import
//   'vendors/normalize';

// 3. Base stuff
@import "base/base", "base/fonts", "base/typography", "base/helpers";

// 4. Layout-related sections
@import "layout/header", "layout/footer";

// 5. Components
@import "components/button", "components/carousel", "components/cards",
  "components/contact";

// 6. Page-specific styles
@import "pages/home", "pages/about", "pages/knowledge-hub",
  "pages/residentials-details", "pages/residential-listing", "pages/events",
  "pages/career", "pages/hospitality-projects", "pages/hospitality-details",
  "pages/leisure-club", "pages/nri", "pages/partners", "pages/management",
  "pages/award";

/*================================
-------- Common Basic css start
================================*/
body {
  overflow-x: hidden;
}
.mb-10 {
  margin-bottom: 10px;
}
// .mt-60{
//     margin-top: 60px;
// }
button:focus {
  outline: 0;
}
.image-ratio23 {
  position: relative;
  padding-bottom: 66.6%;
  img {
    position: absolute;
    height: 100%;
  }
}
.image-ratio33 {
  .gatsby-image-wrapper {
    div {
      padding: 0 !important;
    }
    position: relative;
    padding-bottom: 100%;
    height: 100%;
    img {
      position: absolute;
      height: 100%;
    }
  }
}
.image-ratio816 {
  position: relative;
  padding-bottom: 50%;
  img {
    position: absolute;
    height: 100%;
  }
}
// -------- Input Box Css start Here ----------

.page-heading {
  border-left: 10px solid theme-color("tertiary");
  font-family: "Graphik", sans-serif;
  font-weight: 400;
  padding: 4px 9px;
  opacity: 0.8;
  font-size: 30px;
  color: theme-color("text-black");
  align-items: center;
  display: flex;
  margin: 0 0 0 0;
}
.section-title {
  font-family: georgia;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -0.44px;
  color: #988a63;
  text-align: left;
  &::after {
    content: "";
    border-bottom: 2px solid #a53130;
    padding: 6px 0;
    width: 85px;
    display: block;
  }
}

// .section-title-wrapper{
//     padding-bottom:48px;
// }
.inner-section-title {
  font-family: georgia;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.4px;
  color: theme-color("headig-primary");
  text-align: left;
  color: #333;
  text-transform: capitalize;
}
.section-title-secondary {
  font-family: "Graphik", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: -0.31px;
  color: theme-color("text-black");
}

//Page heading
.page-heading-section {
  .main-description {
    padding: 0 16px 32px;
  }
}
.pages {
  margin-top: 28px;
}

// ------------- Award Start Here ----------------

.vertical-img-wrapper {
  .w-100.gatsby-image-wrapper {
    div {
      padding-bottom: 56% !important;
    }
  }
}

.leisure-club-detail-page {
  .section-title::after {
    display: none;
  }
  .section-title {
    margin-bottom: 24px;
  }
}

// Up  Arrow
.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  // display: none;
}

// ------------- guideline nri details page Start Here ----------------

// ------------- Media Query Start Here ----------------
@media (max-width: 1200px) {
  .hospitality-projects {
    margin-bottom: 0;
  }

  // Residence Card
  .residences-card {
    .rectangle {
      width: 90%;
    }
  }
  .residential-projects {
    .projects {
      select {
        margin-bottom: 16px;
      }
    }
  }
  .career-tabs {
    .btn-tertiary {
      padding: 16px 8px;
    }
  }
  .residential-projects {
    .complete-project {
      margin-bottom: 48px;
    }
    .slick-prev {
      left: -31px;
      z-index: 10;
    }
    .slick-next {
      right: -31px;
      z-index: 10;
    }
  }
}
@media (max-width: 992px) {
  //------- about us ----
  .management-card .management-card-body {
    padding: 20px 38px;
  }

  // Card Primary
  .card-primary {
    .card-primary-img {
      img {
        object-fit: cover;
      }
    }
  }

  .knowledge-hub {
    .image-ratio33 {
      .gatsby-image-wrapper {
        div {
          padding: 0 !important;
        }
        position: relative;
        padding-bottom: 63.3%;
        img {
          position: absolute;
          height: 100%;
        }
      }
    }
    .mt-100 {
      margin-top: 0;
    }
    // .heading{
    //     margin-top: 80px;
    // }
    .buyer-tips-banner-img {
      .buyer-tips-box {
        width: 535px;
        height: 180px;
        bottom: 40px;
        left: 48px;
        padding: 15px 30px;
      }
    }
  }
  .guidelines-nris {
    .guidelines-nris-img {
      img {
        height: 390px;
        object-fit: cover;
      }
    }
    .gatsby-image-wrapper {
      div {
        padding-bottom: 118% !important;
      }
    }
  }
  // Hospitality project
  .hospitality-projects {
    margin-bottom: 0;
  }

  // Residence Card
  .residences-card {
    .rectangle {
      width: 90%;
    }
  }
}

@media (max-width: 768px) {
  .pages {
    margin-top: 20px;
  }
  .contact-section {
    form {
      .customer {
        select {
          flex-basis: 84%;
        }
      }
    }
    .contact-details {
      text-align: center;
      .sub-heading {
        display: block;
        margin-bottom: 16px;
      }
      .description {
        margin: 16px 0 40px 0;
      }
    }
    .contact-details {
      text-align: center;
      .section-title::after {
        content: "";
        margin: 0 auto;
      }
    }
  }

  .footer {
    .copyright {
      margin-top: 12px;
    }
  }
  // Knowledge Hub
  .knowledge-hub {
    .mt-140 {
      margin-top: 80px;
    }
    .mt-92 {
      margin-top: 0;
    }
    // .heading{
    //     margin-top: 60px;
    // }
    .section-title {
      margin-top: 0;
    }
    .knowledge-hub-heading {
      .title {
        padding-top: 24px;
      }
    }
    .buyer-tips-banner {
      margin-bottom: 32px;
      .container {
        padding: 0;
      }
      .buyer-tips-box {
        width: 100%;
        height: auto;
        left: 0;
        bottom: 0;
        padding: 20px 20px;
        .section-title,
        .know-more {
          align-self: flex-end;
          position: absolute;
          bottom: -40px;
        }
        p {
          margin-top: 0;
        }
      }
    }
    .guidelines-nris {
      //    margin-top: 0;
      .guidelines-nris-img {
        img {
          height: auto;
          object-fit: cover;
        }
      }
      .gatsby-image-wrapper {
        div {
          padding-bottom: 50% !important;
        }
      }
    }
  }
  // Hospitality Project
  .hospitality-projects {
    .residences {
      padding-bottom: 140px;
    }
    .residences-card {
      margin-bottom: 80px;
    }
  }
  .career-tabs {
    .btn-wraper {
      flex-basis: 23%;
    }
    .btn-wraper-big {
      flex-basis: 30%;
    }
    .btn-tertiary {
      padding: 16px 0;
    }
  }
  .about-sect-4 {
    height: auto !important;
  }

  // Residence Card
  .residences-card {
    .rectangle {
      width: 90%;
      left: 13px;
    }
  }
  .residential-projects {
    .complete-project {
      .secondary-card {
        margin: 0 15px;
        .secondary-card-rectangle {
          width: 90%;
        }
      }

      .image-ratio {
        padding-bottom: 133.33%;
      }
    }
  }
}

@media (max-width: 580px) {
  .back-to-top {
    display: none;
  }
  .padding-sm-0 {
    padding: 0 !important;
  }
  .navbar-collapse {
    width: 96%;
  }
  .career-tabs {
    .btn-wraper {
      flex-basis: 23%;
    }
    .btn-wraper-big {
      flex-basis: 30%;
    }
    .btn-tertiary {
      padding: 16px 0;
    }
  }
  .about-sect-4 {
    height: auto !important;
  }
  //    .management-card{
  //        height: 200px;
  //    }
}

@media (max-width: 580px) {
  .navbar-collapse {
    width: 96%;
  }
  .bg-color {
    margin-top: 0;
    padding: 0;
    background: theme-color("bg-color");
    .padding-block-60 {
      padding: 32px 0 24px 0;
    }
    .page-heading {
      font-size: 20px;
      margin: 0;
      padding-top: 12px;
    }
    .text {
      padding: 0 15px;
    }
  }
  .contact-section {
    .contact-form {
      margin-top: 80px;
    }
    .bg-color {
      .form-control {
        flex: 75%;
      }
    }
    .contact-form-bg {
      .form-row {
        .form-group {
          padding: 0;
        }
      }
    }
    .contact-details {
      .section-title::after {
        content: "";
        margin: 0 auto;
      }
      i {
        display: block;
        margin-bottom: 12px;
      }
    }
  }

  //Knowledge Hub
  .knowledge-hub {
    margin-bottom: 124px;
    .section-title::after {
      content: "";
      margin: 0 auto;
      width: 32px;
      padding: 4px 0;
    }
    // .col-6{
    //     padding-right: 0;
    // }
    .important-notices {
      margin-top: 60px;
      .section-title,
      p {
        display: none;
      }
      .inner-section-title {
        display: block;
      }
      // .card-primary-img{
      //    img{
      //     height: 115px;
      //    }
      // }
      .bg-light-gray {
        padding: 16px 20px;
        .know-more {
          align-self: flex-end;
        }
      }
    }
    .buyer-tips-banner {
      // margin:80px 0 80px 0;
      .container {
        padding: 0;
      }
    }
    .guidelines-nris {
      margin: 92px 0 72px 0;
      .heading {
        display: none;
      }
      .guidelines-nris-info {
        width: 100%;
        height: auto;
        bottom: 0;
        position: unset !important;
        background: #333;

        .know-more {
          position: absolute;
          right: 18px;
          bottom: -36px;
        }
      }
    }
    .maha-rera {
      margin: 0;
    }
    .maha-rera-mb {
      img {
        height: 115px;
      }
    }
  }
  //card-primary
  .card-primary {
    .bg-light-gray {
      padding: 16px 26px;
    }
    .section-title {
      margin-top: 0;
      text-align: center;
    }
    .heading {
      margin-top: 0;
    }
  }
  //Hospitality Project
  .hospitality-projects {
    margin-bottom: 0;
    .residences {
      background-color: #fff;
      padding: 0;
      .residences-card {
        margin-bottom: 140px;
      }
    }
  }

  //Page heading
  .page-heading-section {
    .main-paragraph {
      padding: 0 20px 32px;
    }
  }
  .year-img-wrap {
    width: 60% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    margin: 0 auto 28px;
  }
  //residential projects
  .residential-section {
    .main-paragraph {
      padding: 0 16px 80px;
    }
  }
  .residential-projects {
    .projects {
      display: none;
    }
    .residences {
      background: #fff;
    }
    .ongoing-project {
      .listing-heading {
        transform: translate(-15px, -15px);
      }
    }
    .complete-project {
      margin-bottom: 72px;
      .container {
        background-color: theme-color("bg-color");
        padding: 0;
      }
      .listing-heading {
        transform: translate(0px, -18px);
        margin-bottom: 48px;
      }
      .secondary-card {
        margin: 20px 28px;
      }
      .slick-list {
        padding-bottom: 40px !important;
      }
      .pagination {
        bottom: -44px;
        left: 30px;
        top: auto;
        right: auto;
      }
    }
    .slick-center {
      transform: scale(1.2);
      transition: transform 0.5s ease;
    }
  }
  .contact-section .contact-form-bg .form-row .form-group {
    padding: 0;
  }
  .detail-page {
    .page-heading {
      border: 0;
    }
  }

  .about-loan {
    margin-top: 84px;
  }
  .our-legacy-title::after {
    content: "";
    border-bottom: 2px solid #b82831;
    padding: 8px 0;
    width: 85px;
    display: block;
  }
  // =========== guidelines-nri's css ============
  .guideline-nri {
    .bg-color {
      padding: 0 15px;
    }
  }
}

@media (max-width: 420px) {
  // .slider-img {
  //     margin: 20px 24px 16px;
  // }
  .pages {
    margin-top: 0;
  }
  .bg-light-gray {
    margin-top: 0;
    padding: 36px 0 36px 0;
  }
  .navbar-collapse {
    width: 95%;
  }
  .contact-section {
    .bg-color {
      select {
        flex: 100%;
      }
    }
    //knowledge Hub
    .knowledge-hub {
      .important-notices {
        .bg-light-gray {
          padding: 16px 26px;
        }
      }
    }
    //Card Primary
    .card-primary {
      .card-primary-img {
        height: 100%;
        img {
          height: 100%;
        }
      }
    }
  }

  .residential-projects {
    .complete-project {
      .secondary-card {
        margin: 16px 20px;
      }
    }
    // .listing-heading{
    //     width: 100%;
    // }
    .residences {
      .residences-card {
        margin: 44px 0 72px;
      }
    }
  }
  .btn-secondary {
    width: 280px;
  }
  .knowledge-hub {
    .know-more {
      padding-top: 6px;
    }
  }
  .knowledge-hub {
    .important-notices {
      .bg-light-gray {
        padding: 13px 20px;
      }
    }
  }
  .vertical-card .vertical-card-body {
    padding: 16px;
  }
  .management-card .management-card-body {
    padding: 20px 16px;
  }
  .contact-form-bg {
    button {
      width: 100%;
      padding: 15px 0;
    }
  }
}

@media (max-width: 350px) {
  // .slider-img {
  //     margin: 20px 16px 16px;
  // }
  .card-primary {
    .bg-light-gray {
      padding: 12px 18px;
    }
  }

  .vertical-card .vertical-card-body .vertical-card-link,
  .management-card-link {
    justify-content: space-between !important;
  }
}

.scroll-downs {
  border: none;
  position: absolute;
  cursor: pointer;
  right: 0;
  bottom: 30px;
  left: 0;
  margin: auto;
  z-index: 1;
  font-size: 12px;
  color: #fff;
  background: #0000007a;
  padding: 15px 0;
  width: 50px;
  border-radius: 100px;
  text-align: center;
  letter-spacing: 0.3px;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
  .mousey {
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    padding: 7px 0 0 0;
    display: flex;
  }
  img {
    height: 12px !important;
    width: 20px !important;
  }
  &:hover {
    span {
      &:before {
        color: #b8282e;
      }
    }
  }
}
.scroller {
  border-radius: 25%;
  // background-color: #fff;
  font-size: 22px;
  color: #fff;
  &:before {
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.18);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0.8;
  }
}

#banner-section {
  picture,
  img {
    display: block;
    height: 100%;
  }
  img {
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.home-gallery {
  display: flex;
  flex-direction: column;
  .bramha-swiper {
    flex: 1;
    overflow: hidden;
  }
  .swiper-container {
    height: 100%;
    background: #ddd;
    overflow: hidden;
    &:after {
      content: "";
      position: absolute;
      background-image: linear-gradient(
        to right,
        rgba(00, 00, 00, 0.4),
        transparent
      );
      top: 0;
      bottom: 0;
      width: 80px;
      height: 100%;
      z-index: 9;
    }
    &:before {
      content: "";
      position: absolute;
      background-image: linear-gradient(
        to right,
        rgba(00, 00, 00, 0.4),
        transparent
      );
      top: 0;
      bottom: 0;
      width: 80px;
      height: 100%;
      z-index: 9;
      right: 0;
      transform: rotate(180deg);
    }
  }
  .banner-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    img {
      position: relative;
      overflow: hidden;
      -o-object-fit: cover;
      object-fit: cover;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
  .tabs {
    text-align: center;
  }
}
.slider-img {
  button {
    background: none;
    border: none;
    cursor: pointer;
  }
}

.banner-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    opacity: 0;
    transition-delay: 500ms;
  }
}
